<div id="sidebar" class="collection__sidebar--wrapper sidebar js-col-filter-sidebar">
  <form id="CollectionSidebarFiltersForm">
    <div class="collection__sidebar--sidebar__inner-wrapper{% if section.settings.is_sticky %} is_sticky{% endif %}">

        {% comment %}
        Include block settings for collection template to add sidebar menus
        {% endcomment %}

      {% for block in section.blocks %}
        {% if block.type == 'sidebar_collection_image' %}
          <div class="collection__sidebar-block" {{ block.shopify_attributes }}>
            {% if collection.image %}
              {% render 'basic-responsive-image', type: collection.image, data_widths: '[180, 360, 540]' %}
              <noscript>
                <img src="{{ collection.image | img_url: '300x' }}" alt="{{ collection.image.alt }}">
              </noscript>
            {% endif %}
          </div>
        {% elsif block.type == 'side_filter' %}
          <div class="collection__sidebar-block" {{ block.shopify_attributes }}>
            {%- for filter in collection.filters -%}

              {%- assign total_active_values = total_active_values | plus: filter.active_values.size -%}
              {% case filter.type %}
                {% when 'list' %}
                  {%- liquid

                    assign is_size_filter = false
                    assign is_color_filter = false
                    assign filter_label_to_lowercase = filter.label | downcase

                    if filter_label_to_lowercase contains "color"
                      assign is_color_filter = true
                    elsif filter_label_to_lowercase contains "colour"
                      assign is_color_filter = true
                    elsif filter_label_to_lowercase contains "size"
                      assign is_size_filter = true
                    endif

                    if is_color_filter
                      assign filter_type = 'color'
                    elsif is_size_filter
                      assign filter_type = 'size'
                    else
                      assign filter_type = 'regular'
                    endif

                    assign scroll_long_lists = block.settings.scroll_long_lists
                    assign two_column_labels = block.settings.two_column_labels
                    assign filter_color_swatches = block.settings.filter_color_swatches
                    assign show_filter_count = block.settings.show_filter_count

                    if is_color_filter and filter_color_swatches
                      assign two_column_labels = true
                    endif

                  -%}
                  <div class="sidebar-filter filter--{{ filter_type }}{% if scroll_long_lists %} scroll{% endif %}">
                    <h4>{{ filter.label | escape }}</h4>
                    <ul{% if two_column_labels %} class="two_column_labels"{% endif %}>
                      {% for value in filter.values %}

                        {%- liquid

                          for product in collection.products
                            unless is_color_filter
                              continue
                            endunless

                            for option in product.options_with_values
                              assign option_name = option.name | downcase

                              unless option_name contains "color" or option_name contains "colour"
                                continue
                              endunless

                              assign variant_img_url = null
                              assign swatch_color_name = value.label | handleize | downcase | append: '.png'
                              assign swatch_image_url = swatch_color_name | file_url
                              assign css_color = value.label | split: ' ' | last | downcase

                              if images[swatch_color_name] != blank
                                assign bg_img = 'background-image:url(' | append:  swatch_image_url | append: ');'
                              else
                                assign bg_img = ''
                              endif
                              assign bg_color = 'background-color:' | append:  css_color | append: ';'

                            endfor
                          endfor

                          if value.active
                            assign status = 'current'
                            assign url = value.url_to_remove
                          elsif value.count == 0 and value.active == false
                            assign status = 'disabled'
                            assign url = ''
                          else
                            assign status = ''
                            assign url = value.url_to_add
                          endif
                        -%}

                        <li class="{{ status }}{% if is_color_filter and filter_color_swatches %} filter_swatch{% elsif is_color_filter and filter_color_swatches == false %} no_filter_swatch{% endif %}">
                          {% if is_color_filter %}
                            <a class="js-collection-side-filter {{ status }}" href="{{ url }}" title="{{ value.label }}">
                              <input type="checkbox"
                                     name="{{ value.param_name }}"
                                     value="{{ value.value }}"
                                     {% if value.active %}checked{% endif %}
                                     {% if value.count == 0 and value.active == false %}disabled{% endif%} >
                              {% if filter_color_swatches %}
                                <span class="color-filter color-filter--rounded color-filter--{{ status }} {{ status }}" style="{{ bg_color }}{{ bg_img }}"></span>
                              {% endif %}
                                <span class="color-filter--label">{{ value.label | escape }}{% if show_filter_count %} <span class="filter__count">({{ value.count }})</span>{% endif %}</span>
                            </a>
                          {% else %}
                            <a class="js-collection-side-filter {{ status }}" data-tag="{{ url }}" href="{{ url }}">
                              <input type="checkbox"
                                     name="{{ value.param_name }}"
                                     value="{{ value.value }}"
                                     {% if value.active %}checked{% endif %}
                                     {% if value.count == 0 and value.active == false %}disabled{% endif%} >
                              <span class="regular-filter--label">{{ value.label | escape }}{% if show_filter_count %} <span class="filter__count">({{ value.count }})</span>{% endif %}</span>
                            </a>
                          {% endif %}
                        </li>
                      {% endfor %}

                    </ul>
                  </div>
                {% when 'price_range' %}
                  {%- liquid
                    assign currencies_using_comma_decimals = "ANG,ARS,BRL,BYN,BYR,CLF,CLP,COP,CRC,CZK,DKK,EUR,HRK,HUF,IDR,ISK,MZN,NOK,PLN,RON,RUB,SEK,TRY,UYU,VES,VND" | split: ','
                    assign uses_comma_decimals = false

                    if currencies_using_comma_decimals contains cart.currency.iso_code
                      assign uses_comma_decimals = true
                    endif
                  -%}

                  <div class="sidebar-filter filter--price-range" data-collection-filters-price-range>
                    <h4>{{ filter.label | escape }}</h4>
                    <div class="filter-range__boxes js-price-range">
                      <div class="filter-range__field">
                        <label class="filter-range__field__label visually-hidden" for="Filter-{{ filter.label | escape }}-{{ forloop.index }}">{{ 'sections.collection_template.from' | t }}</label>
                        <span class="filter-range__field__currency">{{ cart.currency.symbol }}</span>
                        <input class="filter-range__field__input js-filter-range-input js-price-min-output"
                          name="{{ filter.min_value.param_name }}"
                          id="Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                          {%- if filter.min_value.value -%}
                            {%- if uses_comma_decimals -%}
                              value="{{ filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                            {%- else -%}
                              value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                            {% endif %}
                          {%- endif -%}
                          type="number"
                          placeholder="{{ 'sections.collection_template.from' | t }}"
                          min="0"
                          max="{{ filter.range_max | money_without_currency | replace: ',', '' }}">
                        </input>
                      </div>
                      <div class="filter-range__field">
                        <label class="filter-range__field__label visually-hidden" for="Filter-{{ filter.label | escape }}-{{ forloop.index }}">{{ 'sections.collection_template.to' | t }}</label>
                        <span class="filter-range__field__currency">{{ cart.currency.symbol }}</span>
                        <input class="filter-range__field__input js-filter-range-input js-price-max-output"
                          name="{{ filter.max_value.param_name }}"
                          id="Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                          {%- if filter.max_value.value -%}
                            {%- if uses_comma_decimals -%}
                              value="{{ filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                            {%- else -%}
                              value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                            {% endif %}
                          {%- endif -%}
                          type="number"
                          placeholder="{{ 'sections.collection_template.to' | t }}"
                          min="0"
                          max="{{ filter.range_max | money_without_currency | replace: ',', '' }}">
                        </input>
                      </div>

                      <div class="filter-range__slider--wrapper span-2 auto">
                        <input class="filter-range__slider--input"
                          {%- if filter.min_value.value -%}
                            {%- if uses_comma_decimals -%}
                              value="{{ filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                            {%- else -%}
                              value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                            {% endif %}
                          {%- else -%}
                            value="0"
                          {%- endif -%}
                          min="0"
                          max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                          step="1.00"
                          type="range"/>
                        <input class="filter-range__slider--input"
                          {%- if filter.max_value.value -%}
                            {%- if uses_comma_decimals -%}
                              value="{{ filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                            {%- else -%}
                              value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                            {% endif %}
                          {%- else -%}
                            value="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                          {%- endif -%}
                          min="0"
                          max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                          step="1.00"
                          type="range"/>
                      </div>
                    </div>
                  </div>
              {% endcase %}
            {%- endfor -%}
          </div>
        {% elsif block.type == 'menu' %}
          <div class="collection__sidebar-block" {{ block.shopify_attributes }}>
            {% if block.settings.title != blank %}<h4>{{ block.settings.title }}</h4>{% endif %}
            <ul class="collection__sidebar-menu sidebar-menu">
              {% for link in linklists[block.settings.side_nav].links %}
              {% if link.links != blank %}
              <li class="extend has_sub_menu" aria-haspopup="true" aria-expanded="false"><a href="{{ link.url }}">{{ link.title }}</a>
                <ul class="extended-submenu">
                  {% for sub_link in link.links %}
                  <li><a href="{{ sub_link.url }}">{{ sub_link.title }}</a></li>
                  {% endfor %}
              </ul>
              </li>
              {% else %}
              <li>{{ link.title | link_to: link.url }}</li>
              {% endif %}
              {% endfor %}
            </ul>
          </div>
        {% elsif block.type == 'image' %}
          {% if block.settings.image != blank %}
            {%- assign image_size = '450x' -%}
            <div class="collection__sidebar--image-wrapper collection__sidebar-block image_container" {% if forloop.index == 1 %}style="margin-top:0;"{% endif %} {{ block.shopify_attributes }}>
              {% if block.settings.link != blank %}
              <a href="{{ block.settings.link }}">
              {% endif %}
                  <img src="{{ block.settings.image | img_url: image_size }}" alt="{{ block.settings.image.alt }}">
              {% if block.settings.link != blank %}
              </a>
              {% endif %}
            </div>
          {% endif %}
        {% elsif block.type == 'text_note' %}
          <div class="collection__sidebar--textnote-wrapper collection__sidebar-block textnote_container" {{ block.shopify_attributes }}>
            {% if block.settings.textbox_heading != blank %}<h4>{{ block.settings.textbox_heading }}</h4>{% endif %}
            {% if block.settings.textbox_subheading != blank %}
              <div class="subheading{% if block.settings.subheading_align == 'center' %} center{% endif %} rte">
                {{ block.settings.textbox_subheading }}
              </div>
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </form>
</div>
