{%- liquid

  assign is_upcase = false

  if settings.uppercase_nav
    assign is_upcase = true
  endif

-%}

{% assign meganav = false %}
{% assign submenu_with_image = false %}
{% for block in section.blocks %}
  {% if block.type == 'submenu_with_image' %}
    {% if block.settings.menu_item == link.title %}
      {% capture imagemenu %}
        <li data-active-class="navigation__menuitem--active" class="navigation__menuitem navigation__menuitem--dropdown js-doubletap-to-go js-aria-expand" aria-haspopup="true" aria-expanded="false" role="none">
          <a class="navigation__menulink js-menu-link js-open-dropdown-on-key is_upcase-{{ is_upcase }}" href="{{ link.url }}">
            {{ link.title }}
            {% render 'snip-icons',
               wrapper: '.navigation__menulink',
               type: 'apollo',
               icon: 'down-carrot',
               classes: 'navigation__menulink--icon vib-center',
               size: '6px',
               fill: 'var(--pre-scroll-color)',
               hover: 'var(--pre-scroll-color)' %}
          </a>

          <ul class="dropdown dropdown--withimage js-dropdown">
            {% if block.settings.nav_image != blank %}
              {% capture navimage %}
              {%- assign image_size = '300x' -%}
              <span class="dropdown__navimage dropdown__column">
                {% if block.settings.link != blank %}
                <a href="{{ block.settings.link }}">
                {% endif %}
                  {% render 'basic-responsive-image', type: block.settings.nav_image, data_widths: '[180, 360, 540, 720]'%}
                  <noscript>
                    <img src="{{ block.settings.nav_image | img_url: '300x' }}" alt="{{ block.settings.nav_image.alt }}" class="navigation-image">
                  </noscript>
                {% if block.settings.link != blank %}
                </a>
                {% endif %}
              </span>
              {% endcapture %}
            {% endif %}
            {% if block.settings.nav_image_position == 'left' %}
              {{ navimage }}
            {% endif %}
            <span class="dropdown__navmenu dropdown__column">
              {% for sub_link in link.links %}
                {% if sub_link.links != blank %}
                <li data-active-class="dropdown__menuitem--active" role="none" class="dropdown__menuitem dropdown__menuitem--nested js-doubletap-to-go js-menuitem-with-nested-dropdown" aria-haspopup="true" aria-expanded="false">
                  <a class="dropdown__menulink js-aria-expand js-menu-link" role="menuitem" href="{{ sub_link.url }}">{{ sub_link.title }}</a>
                  <ul role="menu" class="dropdown dropdown--nested js-dropdown-nested">
                    {% for sub_sub_link in sub_link.links %}
                      <li class="dropdown__menuitem" role="none">
                        <a class="dropdown__menulink js-menu-link-inside-dropdown" role="menuitem" href="{{ sub_sub_link.url }}">{{ sub_sub_link.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </li>
                {% else %}
                  <li class="dropdown__menuitem" role="none">
                    <a class="dropdown__menulink js-menu-link" role="menuitem" href="{{ sub_link.url }}">{{ sub_link.title }}</a>
                  </li>
                {% endif %}
              {% endfor %}

            </span>
            {% if block.settings.nav_image_position == 'right' %}
              {{ navimage }}
            {% endif %}
          </ul>
        </li>
      {% endcapture %}
      {% assign submenu_with_image = true %}
    {% endif %}
  {% elsif block.type == 'mega_menu' %}
    {% if block.settings.menu_item == link.title %}
  {% capture megalink %}
    <li data-active-class="navigation__menuitem--active" class="navigation__menuitem navigation__menuitem--dropdown js-doubletap-to-go js-aria-expand" aria-haspopup="true" aria-expanded="false" role="none">
      <a class="navigation__menulink js-menu-link js-open-dropdown-on-key is_upcase-{{ is_upcase }}" href="{{ link.url }}">
        {{ link.title }}
        {% render 'snip-icons',
           wrapper: '.navigation__menulink',
           type: 'apollo',
           icon: 'down-carrot',
           classes: 'navigation__menulink--icon vib-center',
           size: '6px',
           fill: 'var(--pre-scroll-color)',
           hover: 'var(--pre-scroll-color)' %}
      </a>

    <ul class="megamenu">
      <div class="megamenu__container">
        {% if block.settings.nav_image != blank  %}
        <span class="desktop-3 tablet-hide mm-image">
          {%- assign image_size = '300x' -%}
          {% if block.settings.link != blank %}
          <a href="{{ block.settings.link }}">
          {% endif %}
            <div class="megamenu__imagecontainer">
              <img src="{{ block.settings.nav_image | img_url: image_size }}" alt="{{ block.settings.nav_image.alt }}">
            </div>
            <noscript>
              <img src="{{ block.settings.nav_image | img_url: '800x' }}" alt="{{ block.settings.nav_image.alt }}" class="navigation-image">
            </noscript>
          {% if block.settings.link != blank %}
          </a>
          {% endif %}
        </span>
        {% endif %}
        <span class="{% if block.settings.nav_image != blank %}desktop-9{% else %}desktop-12{% endif %} tablet-6">
          {% for sub_link in link.links %}
            <li class="megamenu__listcontainer desktop-3 tablet-fourth">
              <h4 class="megamenu__header">
                <a class="megamenu__headerlink" href="{{ sub_link.url }}">{{ sub_link.title }}</a>
              </h4>
              {% if sub_link.links != blank %}
                <ul class="megamenu__list">
                  {% for sub_sub_link in sub_link.links %}
                    <li class="megamenu__listitem">
                      <a class="megamenu__listlink" href="{{ sub_sub_link.url }}">{{ sub_sub_link.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </span>
      </div>
    </ul>
  </li>
  {% endcapture %}
{% assign meganav = true %}
{% endif %}
{% endif %}
{% endfor %}
{% if submenu_with_image %}
{{ imagemenu }}
{% elsif meganav %}
{{ megalink }}
{% elsif link.links != blank %}
  <li data-active-class="navigation__menuitem--active" class="navigation__menuitem navigation__menuitem--dropdown js-doubletap-to-go js-menuitem" role="none">
    <a class="navigation__menulink js-menu-link js-aria-expand js-open-dropdown-on-key is_upcase-{{ is_upcase }}" role="menuitem" aria-haspop="true" aria-expanded="false" href="{{ link.url}}">
      {{ link.title }}
      {% render 'snip-icons',
         wrapper: '.navigation__menulink',
         type: 'apollo',
         icon: 'down-carrot',
         classes: 'navigation__menulink--icon vib-center',
         size: '6px',
         fill: 'var(--pre-scroll-color)',
         hover: 'var(--pre-scroll-color)' %}
    </a>

  {% if link.type == 'collection_link' and section.settings.product_menu %}
    {% assign collection = link.object %}
    <ul class="megamenu">
      <div class="megamenu__container">
        <!-- Start Megamenu Inner Links -->
        <li class="desktop-3 tablet-1">
          <h4 class="megamenu__header">{{ link.title }}</h4>
          <ul class="megamenu__list">
            {% for sub_link in link.links %}
              {% if sub_link.links != blank %}
              <li data-active-class="megamenu__listitem--active" role="none" class="megamenu__listitem megamenu__listitem--nested js-doubletap-to-go js-megamenu-listitem-with-nested-dropdown" aria-haspopup="true" aria-expanded="false">
                <a class="megamenu__listlink js-aria-expand js-megamenu-menu-link" href="{{ sub_link.url }}" role="menuitem">{{ sub_link.title }}</a>
                <ul role="menu" class="dropdown dropdown--nested js-dropdown-nested">
                  {% for sub_sub_link in sub_link.links %}
                    <li class="dropdown__menuitem" role="none">
                      <a class="dropdown__menulink js-menu-link-inside-dropdown" role="menuitem" href="{{ sub_sub_link.url }}">{{ sub_sub_link.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </li>
              {% else %}
                <li class="megamenu__listitem">
                  <a class="megamenu__listlink js-megamenu-menu-link" href="{{ sub_link.url }}">{{ sub_link.title }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </li>
        {% for product in collection.products limit: 4 %}
          <li class="desktop-2 product js-megamenu-product">
            {% render 'product-listing', product: product, collection: collection %}
          </li>
        {% endfor %}
      </div>
    </ul>
  {% else %}
    <ul role="menu" aria-label="{{ link.title }}" class="dropdown js-dropdown">
      {% for sub_link in link.links %}
        {% if sub_link.links != blank %}
        <li data-active-class="dropdown__menuitem--active" role="none" class="dropdown__menuitem dropdown__menuitem--nested js-doubletap-to-go js-menuitem-with-nested-dropdown" aria-haspopup="true" aria-expanded="false">
          <a class="dropdown__menulink js-aria-expand js-menu-link" role="menuitem" href="{{ sub_link.url }}">
            {{ sub_link.title }}
            {% render 'snip-icons',
               wrapper: '.dropdown__menulink',
               type: 'apollo',
               icon: 'right-carrot',
               classes: 'navigation__menulink--icon vib-center',
               size: '10px',
               fill: 'var(--pre-scroll-color)',
               hover: 'var(--pre-scroll-color)' %}
          </a>
          <ul role="menu" class="dropdown dropdown--nested js-dropdown-nested">
            {% for sub_sub_link in sub_link.links %}
              <li class="dropdown__menuitem" role="none">
                <a class="dropdown__menulink js-menu-link-inside-dropdown" role="menuitem" href="{{ sub_sub_link.url }}">
                  {{ sub_sub_link.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </li>
        {% else %}
          <li class="dropdown__menuitem" role="none">
            <a class="dropdown__menulink js-menu-link" role="menuitem" href="{{ sub_link.url }}">{{ sub_link.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
</li>
{% else %}
  <li class="navigation__menuitem" role="none">
    <a class="navigation__menulink js-menu-link is_upcase-{{ is_upcase }}" role="menuitem" href="{{ link.url }}">{{ link.title }}</a>
  </li>
{% endif %}
