
{% assign relationMetafield = product.metafields.custom.prod_relacion_id | strip | replace: ' ', '-' | downcase %}
{% assign relatedProducts = product.metafields.custom.related_products %}

{%- comment -%}
   Current Color 
{%- endcomment -%}
{% assign currentColor = product.options_by_name['Color'].values[0] %}
{% assign currentColorImg = currentColor | handle | append: '.png' | file_url %}


{% if relatedProducts != null %}
  <div class="col-swatch">
    
    {% liquid
      assign itemStock = product.variants[0].inventory_quantity 
      assign tags = product.tags 
      assign tooltipMessage = ""  
      assign sale = false 

      if product.price < product.compare_at_price 
        assign sale = true  
      endif 

      if tags contains "best-selling"
        assign tooltipMessage = "Mas Vendido" 
      elsif  itemStock < 3
        assign tooltipMessage = "Ult Unidades"  
      elsif tags contains "new" 
        assign tooltipMessage = "Nuevo"  
      endif 
    %}
  
    <ul data-option-index="{{ option_index }}" class="{{ option_handle }} options">
    
      {%- comment -%} Current Product Color ball {%- endcomment -%}
      
      <li class="color color-pdp {% if sale %}color-pdp--sale {% endif %}" >
        <a href="{{ product.url }}" class="color-pdp-link" style="">
          <img class="variant-image" src="{{ currentColorImg }}" alt="{{ currentColor }}" >
          {% if sale %}
            <div class="sale__div" >
              <span
              class="sale__span" 
              style="
              background: #000;
              color: white; 
              width: auto;
              height: auto;
              line-height: normal;
              padding: 2px 3px;
              font-size: 10px;
              text-transform: uppercase;
              transform: scale(0.8);"
              >
                SALE
              </span>
            </div>
          {% endif %}

        </a>
        {% if tooltipMessage != "" %}
        <a href="{{ product.url }}" class="color-tooltip color-tooltip---{{ tooltipMessage | replace: ' ', '' }}" >
          <p class="">
            {{ tooltipMessage }}
          </p>
        </a>
        {% endif %}
      </li>

      {% for item in product.metafields.custom.related_products.value %}
        {% if item.id != product.id and item.available  %}

        {% liquid
          assign color = item.options_by_name['Color'].values[0] 
          assign image_url = color | handle | append: '.png' | file_url 
          assign itemStock = item.variants[0].inventory_quantity 
          assign tags = item.tags 
          assign tooltipMessage = "" 
          assign sale = false 

          if item.price < item.compare_at_price 
          assign sale = true  
        endif 

        if tags contains "best-selling"
          assign tooltipMessage = "Mas Vendido" 
        elsif  itemStock < 3
          assign tooltipMessage = "Últimas Unidades"  
        elsif tags contains "new" 
          assign tooltipMessage = "Nuevo"  
        endif 
        %}


          <li class="color color-pdp {% if sale %}color-pdp--sale {% endif %}">
            <a href="{{ item.url }}" class="color-pdp-link" title="{{ tooltipMessage }}">
              <img class="variant-image" src="{{ image_url }}" alt="{{ color }}"> 
             
              {% if sale %}
                <div class="sale__div" >
                  <span
                  class="sale__span" 
                  style="
                  background: #000;
                  color: white; 
                  width: auto;
                  height: auto;
                  line-height: normal;
                  padding: 2px 3px;
                  font-size: 10px;
                  text-transform: uppercase;
                  transform: scale(0.8);"
                  >
                    SALE
                  </span>
                </div>
              {% endif %}
              
            </a> 
            {% if tooltipMessage != "" %}
              <a href="{{ item.url }}" class="color-tooltip   color-tooltip--{{ tooltipMessage | replace: ' ', '' }}" >
                <p class="">
                  {{ tooltipMessage }}
                </p>
              </a>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}

    </ul>
  </div>
{% endif %}




<link rel="stylesheet" href="{{ 'show-colors-meta-related.css' | asset_url }}">

