{%- if type == 'icon-theme' -%}
  {%- if icon == 'bag' -%}
    <svg class="icon--icon-theme-bag {{ classes }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       viewBox="0 0 22 20" height="{{ size }}" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <path d="M21.9,4.2C21.8,4.1,21.6,4,21.5,4H15c0-2.2-1.8-4-4-4C8.8,0,7,1.8,7,4v2.2C6.7,6.3,6.5,6.6,6.5,7c0,0.6,0.4,1,1,1s1-0.4,1-1
        c0-0.4-0.2-0.7-0.5-0.8V5h5V4H8c0-1.7,1.3-3,3-3s3,1.3,3,3v2.2c-0.3,0.2-0.5,0.5-0.5,0.8c0,0.6,0.4,1,1,1s1-0.4,1-1
        c0-0.4-0.2-0.7-0.5-0.8V5h5.9l-2.3,13.6c0,0.2-0.2,0.4-0.5,0.4H3.8c-0.2,0-0.5-0.2-0.5-0.4L1.1,5H6V4H0.5C0.4,4,0.2,4.1,0.1,4.2
        C0,4.3,0,4.4,0,4.6l2.4,14.2C2.5,19.5,3.1,20,3.8,20h14.3c0.7,0,1.4-0.5,1.5-1.3L22,4.6C22,4.4,22,4.3,21.9,4.2z"/>
      </g>
      <style>{{ wrapper }} .icon--icon-theme-bag:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {%- elsif icon == 'cart' -%}
    <svg class="icon--icon-theme-cart {{ classes }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       viewBox="0 0 20.8 20" height="{{ size }}" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <path class="st0" d="M0,0.5C0,0.2,0.2,0,0.5,0h1.6c0.7,0,1.2,0.4,1.4,1.1l0.4,1.8h15.4c0.9,0,1.6,0.9,1.4,1.8l-1.6,6.7
          c-0.2,0.6-0.7,1.1-1.4,1.1h-12l0.3,1.5c0,0.2,0.2,0.4,0.5,0.4h10.1c0.3,0,0.5,0.2,0.5,0.5s-0.2,0.5-0.5,0.5H6.5
          c-0.7,0-1.3-0.5-1.4-1.2L4.8,12L3.1,3.4L2.6,1.3C2.5,1.1,2.3,1,2.1,1H0.5C0.2,1,0,0.7,0,0.5z M4.1,3.8l1.5,7.6h12.2
          c0.2,0,0.4-0.2,0.5-0.4l1.6-6.7c0.1-0.3-0.2-0.6-0.5-0.6H4.1z"/>
        <path class="st0" d="M7.6,17.1c-0.5,0-1,0.4-1,1s0.4,1,1,1s1-0.4,1-1S8.1,17.1,7.6,17.1z M5.7,18.1c0-1.1,0.9-1.9,1.9-1.9
          c1.1,0,1.9,0.9,1.9,1.9c0,1.1-0.9,1.9-1.9,1.9C6.6,20,5.7,19.1,5.7,18.1z"/>
        <path class="st0" d="M15.2,17.1c-0.5,0-1,0.4-1,1s0.4,1,1,1c0.5,0,1-0.4,1-1S15.8,17.1,15.2,17.1z M13.3,18.1c0-1.1,0.9-1.9,1.9-1.9
          c1.1,0,1.9,0.9,1.9,1.9c0,1.1-0.9,1.9-1.9,1.9C14.2,20,13.3,19.1,13.3,18.1z"/>
      </g>
      <style>{{ wrapper }} .icon--icon-theme-cart:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {%- elsif icon == 'user' -%}
    <svg class="icon--icon-theme-user {{ classes }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       viewBox="0 0 20.5 20" height="{{ size }}" xml:space="preserve">
       <g class="hover-fill" fill="{{ fill }}">
         <path d="M12.7,9.6c1.6-0.9,2.7-2.6,2.7-4.5c0-2.8-2.3-5.1-5.1-5.1C7.4,0,5.1,2.3,5.1,5.1c0,1.9,1.1,3.6,2.7,4.5
           C3.3,10.7,0,14.7,0,19.5C0,19.8,0.2,20,0.5,20s0.5-0.2,0.5-0.5c0-5.1,4.2-9.3,9.3-9.3s9.3,4.2,9.3,9.3c0,0.3,0.2,0.5,0.5,0.5
           s0.5-0.2,0.5-0.5C20.5,14.7,17.1,10.7,12.7,9.6z M6,5.1c0-2.3,1.9-4.2,4.2-4.2s4.2,1.9,4.2,4.2s-1.9,4.2-4.2,4.2S6,7.4,6,5.1z"/>
       </g>
       <style>{{ wrapper }} .icon--icon-theme-user:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {%- elsif icon == 'user-logout' -%}
    <svg class="icon--icon-theme-user-logout {{ classes }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       viewBox="0 0 20 20" height="{{ size }}" xml:space="preserve">
       <g class="hover-fill" fill="{{ fill }}">
         <path d="M17.1,11.9c-1.2-1.1-2.7-1.9-4.4-2.3c1.6-0.9,2.7-2.6,2.7-4.5c0-2.8-2.3-5.1-5.1-5.1S5.1,2.3,5.1,5.1
         	c0,1.9,1.1,3.6,2.7,4.5C3.3,10.7,0,14.7,0,19.5C0,19.8,0.2,20,0.5,20s0.5-0.2,0.5-0.5c0-5.1,4.2-9.3,9.3-9.3c2.4,0,4.6,0.9,6.2,2.4
         	c0.2,0.2,0.5,0.2,0.7,0C17.3,12.4,17.2,12.1,17.1,11.9z M6,5.1c0-2.3,1.9-4.2,4.2-4.2s4.2,1.9,4.2,4.2s-1.9,4.2-4.2,4.2S6,7.4,6,5.1
         	z"/>
         <path d="M18.3,17.2l1.5-1.5c0.2-0.2,0.2-0.5,0-0.7c-0.2-0.2-0.5-0.2-0.7,0l-1.5,1.5L16.1,15c-0.2-0.2-0.5-0.2-0.7,0
         	c-0.2,0.2-0.2,0.5,0,0.7l1.5,1.5l-1.5,1.5c-0.2,0.2-0.2,0.5,0,0.7c0.2,0.2,0.5,0.2,0.7,0l1.5-1.5l1.5,1.5c0.2,0.2,0.5,0.2,0.7,0
         	c0.2-0.2,0.2-0.5,0-0.7L18.3,17.2z"/>
       </g>
       <style>{{ wrapper }} .icon--icon-theme-user-logout:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {%- elsif icon == 'search' -%}
    <svg class="icon--icon-theme-search {{ classes }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 20 20" height="{{ size }}" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <path d="M19.8,19.1l-4.6-4.6c1.4-1.5,2.2-3.6,2.2-5.8c0-4.8-3.9-8.7-8.7-8.7S0,3.9,0,8.7s3.9,8.7,8.7,8.7
        c2.2,0,4.2-0.8,5.8-2.2l4.6,4.6c0.2,0.2,0.5,0.2,0.7,0C20.1,19.6,20.1,19.3,19.8,19.1z M1,8.7C1,4.5,4.5,1,8.7,1
        c4.2,0,7.7,3.4,7.7,7.7c0,4.2-3.4,7.7-7.7,7.7C4.5,16.4,1,13,1,8.7z"/>
      </g>
    <style>{{ wrapper }} .icon--icon-theme-search:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {%- elsif icon == 'home' -%}
    <svg class="icon--icon-theme-home {{ classes }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 19.9 20" height="{{ size }}" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <path d="M10.3,1c-0.2-0.2-0.5-0.2-0.6,0L1,9.6C1,9.7,0.9,9.8,0.9,9.9v8.7c0,0.3,0.2,0.5,0.5,0.5h5.4
        c0.3,0,0.5-0.2,0.5-0.5v-5.4c0-0.8,0.6-1.4,1.4-1.4h2.7c0.8,0,1.4,0.6,1.4,1.4v5.4c0,0.3,0.2,0.5,0.5,0.5h5.4c0.3,0,0.5-0.2,0.5-0.5
        V9.9c0-0.1,0-0.2-0.1-0.3L10.3,1z M9,0.4c0.5-0.5,1.4-0.5,1.9,0L19.5,9c0.3,0.3,0.4,0.6,0.4,1v8.7c0,0.8-0.6,1.4-1.4,1.4h-5.4
        c-0.8,0-1.4-0.6-1.4-1.4v-5.4c0-0.3-0.2-0.5-0.5-0.5H8.6c-0.3,0-0.5,0.2-0.5,0.5v5.4c0,0.8-0.6,1.4-1.4,1.4H1.4
        C0.6,20,0,19.3,0,18.6V9.9c0-0.4,0.1-0.7,0.4-1L9,0.4z"/>
      </g>
      <style>{{ wrapper }} .icon--icon-theme-home:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {%- elsif icon == 'menu-bars' -%}
    <svg class="icon--icon-theme-menu-bars {{ classes }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       viewBox="0 0 26.7 20" height="{{ size }}" xml:space="preserve">
       <g class="hover-fill" fill="{{ fill }}">
        <path d="M0,10c0-0.6,0.5-1.1,1.1-1.1h24.4c0.6,0,1.1,0.5,1.1,1.1s-0.5,1.1-1.1,1.1H1.1C0.5,11.1,0,10.6,0,10z"/>
        <path d="M0,18.9c0-0.6,0.5-1.1,1.1-1.1h24.4c0.6,0,1.1,0.5,1.1,1.1S26.2,20,25.6,20H1.1C0.5,20,0,19.5,0,18.9z"/>
        <path d="M0,1.1C0,0.5,0.5,0,1.1,0h24.4c0.6,0,1.1,0.5,1.1,1.1s-0.5,1.1-1.1,1.1H1.1C0.5,2.2,0,1.7,0,1.1z"/>
      </g>
      <style>{{ wrapper }} .icon--icon-theme-menu-bars:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {%- endif -%}
{%- endif -%}
{% if type == 'apollo' %}
  {% if icon == 'zoom' %}
    <svg class="icon--apollo-zoom {{ classes }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 height="{{ size }}" viewBox="0 0 20 20" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <path d="M14.3,12.6h-0.9l-0.3-0.3c1.1-1.3,1.8-3,1.8-4.8c0-4.1-3.3-7.4-7.4-7.4S0,3.3,0,7.4s3.3,7.4,7.4,7.4
          c1.8,0,3.5-0.7,4.8-1.8l0.3,0.3v0.9l5.7,5.7l1.7-1.7L14.3,12.6z M7.4,12.6c-2.8,0-5.1-2.3-5.1-5.1s2.3-5.1,5.1-5.1s5.1,2.3,5.1,5.1
          S10.3,12.6,7.4,12.6z M8,4.6H6.9v2.3H4.6V8h2.3v2.3H8V8h2.3V6.9H8V4.6z"/>
      </g>
      <style>{{ wrapper }} .icon--apollo-zoom:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'zoom-out' %}
    <svg class="icon--apollo-zoom-out {{ classes }}" height="{{ size }}" version="1.1"xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 viewBox="0 0 20 20" xml:space="preserve">
       <g class="hover-fill" fill="{{ fill }}">
         <path d="M14.3,12.6h-0.9l-0.3-0.3c1.1-1.3,1.8-3,1.8-4.8c0-4.1-3.3-7.4-7.4-7.4S0,3.3,0,7.4s3.3,7.4,7.4,7.4
    	    c1.8,0,3.5-0.7,4.8-1.8l0.3,0.3v0.9l5.7,5.7l1.7-1.7L14.3,12.6z M7.4,12.6c-2.8,0-5.1-2.3-5.1-5.1s2.3-5.1,5.1-5.1s5.1,2.3,5.1,5.1
    	     S10.3,12.6,7.4,12.6z M4.6,6.9h5.7V8H4.6V6.9z"/>
      </g>
      <style>{{ wrapper }} .icon--apollo-zoom-out:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'print' %}
    <svg class="icon--apollo-print {{ classes }}" height="{{ size }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 viewBox="0 0 16 16" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}" >
        <path d="M15,4h-2V1c0-0.553-0.447-1-1-1H4C3.447,0,3,0.447,3,1v3H1C0.447,4,0,4.447,0,5v8c0,0.553,0.447,1,1,1h2v1
          c0,0.553,0.447,1,1,1h8c0.553,0,1-0.447,1-1v-1h2c0.553,0,1-0.447,1-1V5C16,4.447,15.553,4,15,4z M5,2h6v2H5V2z M11,14H5v-2h6V14z
           M14,12h-1v-2H3v2H2V6h12V12z M13,7h-2v2h2V7z"/>
        <path display="none" fill="#B7B7B7" d="M15,2H1C0.447,2,0,2.447,0,3v10c0,0.553,0.447,1,1,1h14c0.553,0,1-0.447,1-1V3
        	C16,2.447,15.553,2,15,2z M8,8.586L3.414,4h9.172L8,8.586z M4.586,8L2,10.586V5.414L4.586,8z M6,9.414l1.647,1.646
        	c0.195,0.195,0.512,0.195,0.707,0L10,9.414L12.586,12H3.414L6,9.414z M11.414,8L14,5.414v5.172L11.414,8z"/>
      </g>
      <style>{{ wrapper }} .icon--apollo-print:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'wish' %}
    <svg class="icon--apollo-wish {{ classes }}" height="{{ size }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 viewBox="0 0 22.2 20" xml:space="preserve">
      <g class="icon-fill hover-fill" fill="{{ fill }}">
       <path d="M16.1,0c-1.9,0-3.8,0.9-5,2.3C9.9,0.9,8,0,6.1,0C2.7,0,0,2.6,0,6c0,4.1,3.8,7.5,9.5,12.6l1.6,1.4l1.6-1.4
         c5.7-5.1,9.5-8.4,9.5-12.6C22.2,2.6,19.5,0,16.1,0z M11.2,16.9l-0.1,0.1L11,16.9C5.7,12.3,2.2,9.1,2.2,6c0-2.2,1.7-3.8,3.9-3.8
         c1.7,0,3.4,1.1,4,2.6h2.1c0.6-1.5,2.2-2.6,4-2.6C18.3,2.2,20,3.8,20,6C20,9.1,16.5,12.3,11.2,16.9z"/>
      </g>
      <style>{{ wrapper }} .icon--apollo-wish:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'wish-focus' %}
    <svg class="icon--apollo-wish-focus {{ classes }}" height="{{ size }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 viewBox="0 0 22.4 20" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <path d="M11.2,3.7C10.3,1.6,8,0,5.6,0C2.4,0,0,2.4,0,5.6C0,10,4.7,13.4,11.2,20c6.5-6.6,11.2-10,11.2-14.4
          c0-3.2-2.4-5.6-5.6-5.6C14.3,0,12,1.6,11.2,3.7z"/>
      </g>
      <style>{{ wrapper }} .icon--apollo-wish-focus:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'up' %}
    <svg class="icon--apollo-up {{ classes }}" height="{{ size }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 viewBox="0 0 20 10" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}"><polygon points="0,10 10,0 20,10 "/></g>
      <style>{{ wrapper }} .icon--apollo-up:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'up-carrot' %}
    <svg class="icon--apollo-up-carrot {{ classes }}" height="{{ size }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 viewBox="0 0 20 12.3" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}"><polygon points="10,0 0,10 2.3,12.3 10,4.7 17.7,12.3 20,10 "/></g>
      <style>{{ wrapper }} .icon--apollo-up-carrot:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'share' %}
    <svg class="icon--apollo-share {{ classes }}" height="{{ size }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 viewBox="0 0 18 20" xml:space="preserve">
       <g class="hover-fill" fill="{{ fill }}">
        <path d="M15,14.1c-0.8,0-1.4,0.3-2,0.8l-7.1-4.2C6,10.5,6,10.3,6,10s0-0.5-0.1-0.7L13,5.2C13.5,5.7,14.2,6,15,6
        	c1.7,0,3-1.3,3-3c0-1.7-1.3-3-3-3s-3,1.3-3,3c0,0.2,0,0.5,0.1,0.7L5,7.8C4.5,7.3,3.8,7,3,7c-1.7,0-3,1.3-3,3s1.3,3,3,3
        	c0.8,0,1.5-0.3,2-0.8l7.1,4.2c0,0.2-0.1,0.4-0.1,0.7c0,1.6,1.3,2.9,2.9,2.9s2.9-1.3,2.9-2.9C17.9,15.5,16.6,14.1,15,14.1z M15,2
        	c0.5,0,1,0.5,1,1c0,0.6-0.5,1-1,1s-1-0.5-1-1C14,2.5,14.5,2,15,2z M3,11c-0.5,0-1-0.5-1-1s0.5-1,1-1s1,0.5,1,1S3.5,11,3,11z
        	 M15,18.1c-0.5,0-1-0.5-1-1c0-0.6,0.5-1,1-1s1,0.5,1,1C16,17.6,15.5,18.1,15,18.1z"/>
       </g>
       <style>{{ wrapper }} .icon--apollo-share:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'secure' %}
    <svg class="icon--apollo-secure {{ classes }}" height="{{ size }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 viewBox="0 0 16.4 20" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}" transform="translate(613.000000, 827.000000)">
      	<path d="M-604.8-827l-8.2,3.6v5.5c0,5,3.5,9.8,8.2,10.9c4.7-1.1,8.2-5.9,8.2-10.9v-5.5L-604.8-827z M-598.5-817.9
      		c0,4.1-2.7,7.9-6.4,9c-3.7-1.1-6.4-4.9-6.4-9v-4.3l6.4-2.8l6.4,2.8V-817.9z"/>
      	<polygon points="-609,-817.4 -610.3,-816.1 -606.6,-812.5 -599.4,-819.7 -600.6,-821 -606.6,-815 	"/>
      </g>
      <style>{{ wrapper }} .icon--apollo-secure:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'search' %}
    <svg class="icon--apollo-search {{ classes }}" height="{{ size }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 viewBox="0 0 20 20" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <path d="M14.3,12.6h-0.9l-0.3-0.3c1.1-1.3,1.8-3,1.8-4.8c0-4.1-3.3-7.4-7.4-7.4S0,3.3,0,7.4c0,4.1,3.3,7.4,7.4,7.4
        c1.8,0,3.5-0.7,4.8-1.8l0.3,0.3v0.9l5.7,5.7l1.7-1.7L14.3,12.6z M7.4,12.6c-2.8,0-5.1-2.3-5.1-5.1c0-2.8,2.3-5.1,5.1-5.1
        s5.1,2.3,5.1,5.1C12.6,10.3,10.3,12.6,7.4,12.6z"/>
      </g>
      <style>{{ wrapper }} .icon--apollo-search:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'right-carrot' %}
    <svg class="icon--apollo-right-carrot {{ classes }}" height="{{ size }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 13.3 20" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <polygon points="0,2.3 2.5,0 13.3,10 2.5,20 0,17.7 8.3,10 "/>
      </g>
      <style>{{ wrapper }} .icon--apollo-right-carrot:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'right-arrow' %}
    <svg class="icon--apollo-right-arrow {{ classes }}" height="{{ size }}" version="1.1"xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 20 20" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <polygon points="10,0 8.3,1.7 15.2,8.7 0,8.7 0,11.2 15.2,11.2 8.3,18.2 10,20 20,10 "/>
      </g>
      <style>{{ wrapper }} .icon--apollo-right-arrow:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'remove' %}
    <svg class="icon--apollo-remove {{ classes }}" height="{{ size }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 viewBox="0 0 15.6 20" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <path d="M12.2,6.7v11.1H3.3V6.7H12.2z M10.6,0H5L3.9,1.1H0v2.2h15.6V1.1h-3.9L10.6,0z M14.4,4.4H1.1v13.3
        c0,1.2,1,2.2,2.2,2.2h8.9c1.2,0,2.2-1,2.2-2.2V4.4z"/>
      </g>
      <style>{{ wrapper }} .icon--apollo-remove:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'plus' %}
    <svg class="icon--apollo-plus {{ classes }}" height="{{ size }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 20 20" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <polygon id="Plus" points="20,11.4 11.4,11.4 11.4,20 8.6,20 8.6,11.4 0,11.4 0,8.6 8.6,8.6 8.6,0 11.4,0 11.4,8.6 20,8.6 "/>
      </g>
      <style>{{ wrapper }} .icon--apollo-plus:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'minus' %}
    <svg class="icon--apollo-minus {{ classes }}" height="{{ size }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 20 20" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <polygon points="0,8.6 0,11.4 20,11.4 20,8.6 "/>
      </g>
      <style>{{ wrapper }} .icon--apollo-minus:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'menu-dots' %}
    <svg class="icon--apollo-menu-dots {{ classes }}" height="{{ size }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 viewBox="0 0 5 20" xml:space="preserve">
       <g class="hover-fill" fill="{{ fill }}">
        <path d="M2.5,5C3.9,5,5,3.9,5,2.5C5,1.1,3.9,0,2.5,0C1.1,0,0,1.1,0,2.5C0,3.9,1.1,5,2.5,5z"/>
        <path d="M2.5,7.5C1.1,7.5,0,8.6,0,10s1.1,2.5,2.5,2.5C3.9,12.5,5,11.4,5,10S3.9,7.5,2.5,7.5z"/>
        <path d="M2.5,15C1.1,15,0,16.1,0,17.5C0,18.9,1.1,20,2.5,20C3.9,20,5,18.9,5,17.5C5,16.1,3.9,15,2.5,15z"/>
      </g>
      <style>{{ wrapper }} .icon--apollo-menu-dots:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'menu-bars' %}
    <svg class="icon--apollo-menu-bars {{ classes }}" height="{{ size }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 viewBox="0 0 20 13.3" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <polygon points="0,13.3 20,13.3 20,11.1 0,11.1 "/>
        <polygon points="0,7.8 20,7.8 20,5.6 0,5.6 "/>
        <polygon points="0,0 0,2.2 20,2.2 20,0 "/>
      </g>
      <style>{{ wrapper }} .icon--apollo-menu-bars:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'left-carrot' %}
    <svg class="icon--apollo-left-carrot {{ classes }}" height="{{ size }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 viewBox="0 0 13.3 20" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <polygon class="st0" points="13.3,2.3 10.8,0 0,10 10.8,20 13.3,17.7 5,10 "/>
      </g>
      <style>{{ wrapper }} .icon--apollo-left-carrot:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'left-arrow' %}
    <svg class="icon--apollo-left-arrow {{ classes }}" height="{{ size }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 20 20" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <polygon points="20,8.7 4.7,8.7 11.8,1.7 10,0 0,10 10,20 11.8,18.2 4.7,11.2 20,11.2 "/>
      </g>
      <style>{{ wrapper }} .icon--apollo-left-arrow:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'grid' %}
    <svg class="icon--apollo-grid {{ classes }}" height="{{ size }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 viewBox="0 0 20 20"  xml:space="preserve">
       <g class="hover-fill" fill="{{ fill }}">
        <polygon points="0,5 5,5 5,0 0,0 "/>
        <polygon points="7.5,20 12.5,20 12.5,15 7.5,15 "/>
        <polygon points="0,20 5,20 5,15 0,15 "/>
        <polygon points="0,12.5 5,12.5 5,7.5 0,7.5 "/>
        <polygon points="7.5,12.5 12.5,12.5 12.5,7.5 7.5,7.5 "/>
        <polygon points="15,0 15,5 20,5 20,0 "/>
        <polygon points="7.5,5 12.5,5 12.5,0 7.5,0 "/>
        <polygon points="15,12.5 20,12.5 20,7.5 15,7.5 "/>
        <polygon points="15,20 20,20 20,15 15,15 "/>
      </g>
      <style>{{ wrapper }} .icon--apollo-grid:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'fullscreen' %}
    <svg class="icon--apollo-fullscreen {{ classes }}" height="{{ size }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 20 20" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <polygon points="2.9,12.7 0,12.7 0,20 7.3,20 7.3,17.1 2.9,17.1 "/>
        <polygon points="0,7.3 2.9,7.3 2.9,2.9 7.3,2.9 7.3,0 0,0 "/>
        <polygon points="17.1,17.1 12.7,17.1 12.7,20 20,20 20,12.7 17.1,12.7 "/>
        <polygon points="12.7,0 12.7,2.9 17.1,2.9 17.1,7.3 20,7.3 20,0 "/>
      </g>
      <style>{{ wrapper }} .icon--apollo-fullscreen:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'fullscreen-close' %}
    <svg class="icon--apollo-fullscreen-close {{ classes }}" height="{{ size }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 20 20" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}" transform="translate(798.000000, 763.000000)">
        <polygon points="-798,-747.4 -793.6,-747.4 -793.6,-743 -790.7,-743 -790.7,-750.3 -798,-750.3 	"/>
        <polygon points="-793.6,-758.6 -798,-758.6 -798,-755.7 -790.7,-755.7 -790.7,-763 -793.6,-763 	"/>
        <polygon points="-785.3,-743 -782.4,-743 -782.4,-747.4 -778,-747.4 -778,-750.3 -785.3,-750.3 	"/>
        <polygon points="-782.4,-758.6 -782.4,-763 -785.3,-763 -785.3,-755.7 -778,-755.7 -778,-758.6 	"/>
      </g>
      <style>{{ wrapper }} .icon--apollo-fullscreen-close:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'forward' %}
    <svg class="icon--apollo-forward {{ classes }}" height="{{ size }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 20 20"  xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <path d="M10,0C4.5,0,0,4.5,0,10s4.5,10,10,10c4.6,0,8.5-3.2,10-7.5h-2.5c-1.5,2.9-4.2,5-7.5,5
        c-4.1,0-7.5-3.4-7.5-7.5S5.9,2.5,10,2.5c2.1,0,3.9,0.9,5,2.5l-3.7,3.7H20V0l-2.5,2.5C15.2,1.2,12.7,0,10,0z"/>
      </g>
      <style>{{ wrapper }} .icon--apollo-forward:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'down' %}
    <svg class="icon--apollo-down {{ classes }}" height="{{ size }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 viewBox="0 0 20 10" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <polygon points="0,0 10,10 20,0 "/>
      </g>
      <style>{{ wrapper }} .icon--apollo-down:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'down-carrot' %}
    <svg class="icon--apollo-down-carrot {{ classes }}" height="{{ size }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 viewBox="0 0 20 13.3" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <polygon points="17.7,0 10,8.3 2.3,0 0,2.5 10,13.3 20,2.5 "/>
      </g>
      <style>{{ wrapper }} .icon--apollo-down-carrot:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'close' %}
    <svg class="icon--apollo-close {{ classes }}" height="{{ size }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 viewBox="0 0 20 20" xml:space="preserve">
       <g class="hover-fill" fill="{{ fill }}">
         <polygon points="20,2 18,0 10,8 2,0 0,2 8,10 0,18 2,20 10,12 18,20 20,18 12,10 "/>
       </g>
       <style>{{ wrapper }} .icon--apollo-close:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'circle-plus' %}
    <svg class="icon--apollo-circle-plus {{ classes }}" height="{{ size }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 viewBox="0 0 20 20" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <path d="M11,5H9v4H5v2h4v4h2v-4h4V9h-4V5z M10,0C4.5,0,0,4.5,0,10s4.5,10,10,10s10-4.5,10-10S15.5,0,10,0z M10,18
        c-4.4,0-8-3.6-8-8s3.6-8,8-8s8,3.6,8,8S14.4,18,10,18z"/>
      </g>
      <style>{{ wrapper }} .icon--apollo-circle-plus:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'circle-plus-focus' %}
    <svg class="icon--apollo-circle-plus-focus {{ classes }}" height="{{ size }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 20 20" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <path d="M10,0C4.5,0,0,4.5,0,10s4.5,10,10,10s10-4.5,10-10S15.5,0,10,0z M15,11h-4v4H9v-4H5V9h4V5h2v4h4V11z"/>
      </g>
      <style>{{ wrapper }} .icon--apollo-circle-plus-focus:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'circle-minus' %}
    <svg class="icon--apollo-circle-minus {{ classes }}" height="{{ size }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 20 20" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <path d="M5,9v2h10V9H5z M10,0C4.5,0,0,4.5,0,10s4.5,10,10,10s10-4.5,10-10S15.5,0,10,0z M10,18c-4.4,0-8-3.6-8-8
        s3.6-8,8-8s8,3.6,8,8S14.4,18,10,18z"/>
      </g>
      <style>{{ wrapper }} .icon--apollo-circle-minus:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'circle-minus-focus' %}
    <svg class="icon--apollo-circle-minus-focus {{ classes }}" height="{{ size }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 20 20" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <path d="M10,0C4.5,0,0,4.5,0,10s4.5,10,10,10s10-4.5,10-10S15.5,0,10,0z M15,11H5V9h10V11z"/>
      </g>
      <style>{{ wrapper }} .icon--apollo-circle-minus-focus:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'checkmark' %}
    <svg class="icon--apollo-checkmark {{ classes }}" height="{{ size }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 viewBox="0 0 25.7 20" xml:space="preserve">
       <g class="hover-fill" fill="{{ fill }}">
         <polygon points="8.2,15.8 2,9.6 0,11.6 8.2,20 25.7,2.1 23.7,0 "/>
       </g>
       <style>{{ wrapper }} .icon--apollo-checkmark:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'cart' %}
    <svg class="icon--apollo-cart {{ classes }}" height="{{ size }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 20 20" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <path d="M14.6,11c0.8,0,1.4-0.4,1.7-1l3.6-6.5C20.2,2.8,19.8,2,19,2H4.2L3.3,0H0v2h2l3.6,7.6L4.2,12
        c-0.7,1.3,0.2,3,1.8,3h12v-2H6l1.1-2H14.6z M5.2,4h12.1l-2.8,5h-7L5.2,4z"/>
        <path d="M6,16c-1.1,0-2,0.9-2,2s0.9,2,2,2s2-0.9,2-2S7.1,16,6,16z"/>
        <path d="M16,16c-1.1,0-2,0.9-2,2s0.9,2,2,2s2-0.9,2-2S17.1,16,16,16z"/>
      </g>
      <style>{{ wrapper }} .icon--apollo-cart:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'bag' %}
    <svg class="icon--apollo-bag {{ classes }}" height="{{ size }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 21.1 20" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <path d="M14.7,4.2V2.1c0-1.2-0.9-2.1-2.1-2.1H8.4C7.3,0,6.3,0.9,6.3,2.1v2.1H0v13.7C0,19.1,0.9,20,2.1,20h16.8
        c1.2,0,2.1-0.9,2.1-2.1V4.2H14.7z M8.4,2.1h4.2v2.1H8.4V2.1z M18.9,17.9H2.1V6.3h16.8V17.9z"/>
      </g>
      <style>{{ wrapper }} .icon--apollo-bag:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'user-circle' %}
    <svg class="icon--apollo-user-circle {{ classes }}" height="{{ size }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px" y="0px" viewBox="0 0 20 20" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <path d="M10,0C4.5,0,0,4.5,0,10s4.5,10,10,10s10-4.5,10-10S15.5,0,10,0z M10,3c1.7,0,3,1.3,3,3s-1.3,3-3,3S7,7.7,7,6S8.3,3,10,3z
        M10,17.2c-2.5,0-4.7-1.3-6-3.2c0-2,4-3.1,6-3.1c2,0,6,1.1,6,3.1C14.7,15.9,12.5,17.2,10,17.2z"/>
      </g>
      <style>{{ wrapper }} .icon--apollo-user-circle:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'user-circle-logout' %}
    <svg class="icon--apollo-user-circle-logout {{ classes }}" height="{{ size }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
       x="0px" y="0px" viewBox="0 0 20 20" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <path d="M12.5,16.7c-0.8,0.3-1.7,0.5-2.5,0.5c-2.5,0-4.7-1.3-6-3.2c0-2,4-3.1,6-3.1c1.4,0,3.8,0.5,5.1,1.6c0.3-0.1,0.7-0.2,1-0.2
          c1.3,0,2.4,0.6,3.1,1.6c0.5-1.2,0.8-2.5,0.8-3.9c0-5.5-4.5-10-10-10S0,4.5,0,10s4.5,10,10,10c1.5,0,3-0.4,4.3-1
          C13.4,18.5,12.8,17.7,12.5,16.7z M10,3c1.7,0,3,1.3,3,3s-1.3,3-3,3S7,7.7,7,6S8.3,3,10,3z"/>
        <polygon points="18.4,14.2 17.6,13.4 16.1,15 14.5,13.4 13.7,14.2 15.3,15.8 13.7,17.4 14.5,18.1 16.1,16.6 17.6,18.1 18.4,17.4
          16.8,15.8 "/>
      </g>
      <style>{{ wrapper }} .icon--apollo-user-circle-logout:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'user-square' %}
    <svg class="icon--apollo-user-square {{ classes }}" height="{{ size }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px" y="0px" viewBox="0 0 20 20" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <path d="M0,2.2v15.6C0,19,1,20,2.2,20h15.6c1.2,0,2.2-1,2.2-2.2V2.2C20,1,19,0,17.8,0H2.2C1,0,0,1,0,2.2z M13.3,6.7
        c0,1.8-1.5,3.3-3.3,3.3S6.7,8.5,6.7,6.7S8.2,3.3,10,3.3S13.3,4.8,13.3,6.7z M3.3,15.6c0-2.2,4.4-3.4,6.7-3.4s6.7,1.2,6.7,3.4v1.1
        H3.3V15.6z"/>
      </g>
      <style>{{ wrapper }} .icon--apollo-user-square:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'error' %}
    <svg class="icon--apollo-error {{ classes }}" height="{{ size }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px" y="0px" viewBox="0 0 20 20" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <path d="M9,13h2v2H9V13z M9,5h2v6H9V5z M10,0C4.5,0,0,4.5,0,10s4.5,10,10,10c5.5,0,10-4.5,10-10S15.5,0,10,0z M10,18
        c-4.4,0-8-3.6-8-8s3.6-8,8-8s8,3.6,8,8S14.4,18,10,18z"/>
      </g>
      <style>{{ wrapper }} .icon--apollo-error:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'ship-truck' %}
    <svg class="icon--apollo-ship-truck {{ classes }}" height="{{ size }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px" y="0px" viewBox="0 0 30 20" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <path d="M30,11.1c0-0.6-0.5-1.1-1.1-1.1h-1l-1.6-5.8c-0.1-0.5-0.6-0.8-1.1-0.8h-4.6V1.1c0-0.3-0.1-0.6-0.3-0.8C20,0.1,19.7,0,19.4,0
        H1.1C0.8,0,0.5,0.2,0.3,0.4C0.1,0.6,0,0.9,0,1.2v16.5h2.8c0.3,1.5,1.8,2.5,3.3,2.2c1.1-0.2,1.9-1.1,2.2-2.2h14
        c0.3,1.5,1.7,2.5,3.2,2.2c1.1-0.2,2-1.1,2.2-2.2H30V11.1z M25.1,4.4l1.5,5.5H25V4.4H25.1z M23.9,4.4V10h-3.3V4.4H23.9z M5.6,18.9
        c-0.9,0-1.7-0.7-1.7-1.6c0-0.5,0.2-0.9,0.5-1.2c0.5-0.5,1.3-0.7,1.9-0.4C7.1,16,7.5,17,7.1,17.9C6.9,18.5,6.3,18.9,5.6,18.9
        L5.6,18.9z M19.4,16.6H8.3C8,15.1,6.5,14.2,5,14.4c-1.1,0.2-2,1.1-2.2,2.2H1.1V1.2c0,0,0-0.1,0-0.1h18.3L19.4,16.6z M25,18.9
        c-0.9,0-1.7-0.7-1.7-1.7c0-0.9,0.7-1.7,1.7-1.7c0.9,0,1.7,0.7,1.7,1.7c0,0,0,0,0,0C26.6,18.1,25.9,18.9,25,18.9z M28.9,16.6h-1.2
        c-0.3-1.5-1.7-2.5-3.2-2.2c-1.1,0.2-2,1.1-2.2,2.2h-1.7v-5.5h8.3V16.6z M2.8,10h14.4v1.1H2.8V10z M2.8,7.8h14.4v1.1H2.8V7.8z"/>
      </g>
      <style>{{ wrapper }} .icon--apollo-ship-truck:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'sale-tag' %}
    <svg class="icon--apollo-sale-tag {{ classes }}" height="{{ size }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px" y="0px" viewBox="0 0 20 20" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <path d="M1.7,1.3C1.5,1.3,1.3,1.5,1.3,1.7L0,9c0,0.2,0,0.3,0.1,0.4l10.4,10.4c0.2,0.2,0.5,0.2,0.7,0l8.6-8.6
        c0.1-0.1,0.1-0.2,0.1-0.3c0-0.1,0-0.2-0.1-0.3L9.5,0.2C9.4,0,9.2,0,9,0L1.7,1.3z M5.9,3.9C6.5,4.4,6.5,5.3,6,5.8c0,0,0,0-0.1,0.1
        C5.4,6.4,4.5,6.4,4,5.9c0,0-0.1-0.1-0.1-0.1C3.4,5.3,3.3,4.5,3.9,3.9c0,0,0,0,0.1-0.1C4.4,3.3,5.3,3.3,5.9,3.9
        C5.9,3.8,5.9,3.8,5.9,3.9z"/>
      </g>
      <style>{{ wrapper }} .icon--apollo-sale-tag:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'home' %}
    <svg class="icon--apollo-home {{ classes }}" height="{{ size }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 viewBox="0 0 20 20" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <path class="st0" d="M2.7,10.5H0L10,0l5.3,5.5V3.2h2.1v4.6l2.6,2.8h-2.6L10,3.2L2.7,10.5z M4.7,11.6v6.3h10.5v-6.3h2.1V20H2.6v-8.4
        H4.7z"/>
      </g>
      <style>{{ wrapper }} .icon--apollo-home:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'filter' %}
    <svg class="icon--apollo-filter {{ classes }}" height="{{ size }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 viewBox="0 0 17.8 20" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <path class="st0" d="M2.4,2.2C2.9,0.9,4.1,0,5.6,0s2.7,0.9,3.1,2.2h9.1v2.2H8.7C8.2,5.7,7,6.7,5.6,6.7S2.9,5.7,2.4,4.4H0V2.2H2.4z
        	 M2.4,15.6c0.5-1.3,1.7-2.2,3.1-2.2s2.7,0.9,3.1,2.2h9.1v2.2H8.7C8.2,19.1,7,20,5.6,20s-2.7-0.9-3.1-2.2H0v-2.2H2.4z M9.1,8.9
        	c0.5-1.3,1.7-2.2,3.1-2.2s2.7,0.9,3.1,2.2h2.4v2.2h-2.4c-0.5,1.3-1.7,2.2-3.1,2.2s-2.7-0.9-3.1-2.2H0V8.9H9.1z M12.2,11.1
        	c0.6,0,1.1-0.5,1.1-1.1s-0.5-1.1-1.1-1.1c-0.6,0-1.1,0.5-1.1,1.1S11.6,11.1,12.2,11.1z M5.6,17.8c0.6,0,1.1-0.5,1.1-1.1
        	s-0.5-1.1-1.1-1.1s-1.1,0.5-1.1,1.1S4.9,17.8,5.6,17.8z M5.6,4.4c0.6,0,1.1-0.5,1.1-1.1S6.2,2.2,5.6,2.2S4.4,2.7,4.4,3.3
      	S4.9,4.4,5.6,4.4z"/>
      </g>
      <style>{{ wrapper }} .icon--apollo-filter:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% endif %}
{% endif %}

{% if type == 'social' %}
  {% if icon == 'facebook' %}
    <svg class="icon--facebook {{ classes }}" height="{{ size }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
    y="0px" viewBox="0 0 11 20" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <path d="M11,0H8C5.2,0,3,2.2,3,5v3H0v4h3v8h4v-8h3l1-4H7V5c0-0.6,0.4-1,1-1h3V0z"/>
      </g>
      <style>{{ wrapper }} .icon--facebook:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'instagram' %}
    <svg class="icon--instagram {{ classes }}" height="{{ size }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
    y="0px" viewBox="0 0 19.9 20" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <path d="M10,4.8c-2.8,0-5.1,2.3-5.1,5.1S7.2,15,10,15s5.1-2.3,5.1-5.1S12.8,4.8,10,4.8z M10,13.2c-1.8,0-3.3-1.5-3.3-3.3
        S8.2,6.6,10,6.6s3.3,1.5,3.3,3.3S11.8,13.2,10,13.2z M15.2,3.4c-0.6,0-1.1,0.5-1.1,1.1s0.5,1.3,1.1,1.3s1.3-0.5,1.3-1.1
        c0-0.3-0.1-0.6-0.4-0.9S15.6,3.4,15.2,3.4z M19.9,9.9c0-1.4,0-2.7-0.1-4.1c-0.1-1.5-0.4-3-1.6-4.2C17,0.5,15.6,0.1,13.9,0
        c-1.2,0-2.6,0-3.9,0C8.6,0,7.2,0,5.8,0.1c-1.5,0-2.9,0.4-4.1,1.5S0.2,4.1,0.1,5.8C0,7.2,0,8.6,0,9.9c0,1.3,0,2.8,0.1,4.2
        c0.1,1.5,0.4,3,1.6,4.2c1.1,1.1,2.5,1.5,4.2,1.6C7.3,20,8.6,20,10,20s2.7,0,4.1-0.1c1.5-0.1,3-0.4,4.2-1.6c1.1-1.1,1.5-2.5,1.6-4.2
        C19.9,12.7,19.9,11.3,19.9,9.9z M17.6,15.7c-0.1,0.5-0.4,0.8-0.8,1.1c-0.4,0.4-0.6,0.5-1.1,0.8c-1.3,0.5-4.4,0.4-5.8,0.4
        s-4.6,0.1-5.8-0.4c-0.5-0.1-0.8-0.4-1.1-0.8c-0.4-0.4-0.5-0.6-0.8-1.1c-0.5-1.3-0.4-4.4-0.4-5.8S1.7,5.3,2.2,4.1
        C2.3,3.6,2.6,3.3,3,3s0.6-0.5,1.1-0.8c1.3-0.5,4.4-0.4,5.8-0.4s4.6-0.1,5.8,0.4c0.5,0.1,0.8,0.4,1.1,0.8c0.4,0.4,0.5,0.6,0.8,1.1
        C18.1,5.3,18,8.5,18,9.9S18.2,14.4,17.6,15.7z"/>
      </g>
      <style>{{ wrapper }} .icon--instagram:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'twitter' %}
    <svg class="icon--twitter {{ classes }}" height="{{ size }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
    y="0px" viewBox="0 0 24.5 20" style="enable-background:new 0 0 24.5 20;" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <path d="M24.5,0c-1.1,0.8-2.2,1.3-3.5,1.7c-1.3-1.6-3.6-2.1-5.6-1.3S12.3,3,12.3,5v1.1c-4,0.1-7.7-1.8-10-5c0,0-4.5,10,5.6,14.5
        c-2.3,1.6-5,2.3-7.8,2.2c10,5.6,22.3,0,22.3-12.8c0-0.3,0-0.7-0.1-0.9C23.3,3,24.2,1.6,24.5,0z"/>
      </g>
      <style>{{ wrapper }} .icon--twitter:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'youtube' %}
    <svg class="icon--youtube {{ classes }}" height="{{ size }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
      y="0px" viewBox="0 0 28.5 20" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <path d="M28,3.3c-0.3-1.3-1.3-2.1-2.4-2.4C23.3,0,14.3,0,14.3,0s-8.8,0-11,0.6C2,1,1,1.9,0.7,3.1C0,5.4,0,9.9,0,9.9s0,4.7,0.7,6.8
        C1,18,2,19,3.3,19.3c2.2,0.7,11,0.7,11,0.7s8.9,0,11.1-0.7c1.3-0.3,2.1-1.3,2.4-2.4c0.7-2.3,0.7-6.8,0.7-6.8S28.6,5.4,28,3.3z
        M11.5,14.3V5.9l7.3,4.2L11.5,14.3z"/>
      </g>
      <style>{{ wrapper }} .icon--youtube:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'pinterest' %}
    <svg class="icon--pinterest {{ classes }}" height="{{ size }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
     y="0px" viewBox="0 0 15.5 20" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <path id="Icon-Path" d="M0,7.2c0-0.8,0.1-1.7,0.4-2.4c0.4-0.8,0.8-1.5,1.3-2s1.2-1.1,1.9-1.5s1.5-0.8,2.3-0.9C6.5,0.1,7.3,0,8.1,0
        c1.3,0,2.5,0.3,3.6,0.8s2,1.3,2.7,2.3c0.7,1.1,1.1,2.3,1.1,3.6c0,0.8-0.1,1.5-0.3,2.3c-0.1,0.8-0.4,1.5-0.7,2.1
        c-0.3,0.7-0.7,1.2-1.2,1.7c-0.5,0.5-1.1,0.9-1.7,1.2s-1.5,0.5-2.3,0.4c-0.5,0-1.1-0.1-1.6-0.4c-0.7-0.1-1.1-0.5-1.2-0.9
        c-0.1,0.3-0.1,0.8-0.4,1.3c-0.1,0.5-0.3,0.9-0.3,1.2c0,0.1-0.1,0.4-0.3,0.8c-0.1,0.3-0.1,0.5-0.3,0.8L4.9,18
        c-0.1,0.3-0.4,0.7-0.5,0.9C4.1,19.2,4,19.6,3.6,20H3.5l-0.1-0.1c-0.1-1.2-0.1-2-0.1-2.3c0-0.8,0.1-1.6,0.3-2.5
        c0.1-0.9,0.4-2.1,0.8-3.5s0.5-2.1,0.7-2.4c-0.4-0.4-0.5-1.1-0.5-2c0-0.7,0.3-1.3,0.7-1.9C5.5,4.8,6,4.5,6.7,4.5
        c0.5,0,0.9,0.1,1.2,0.5c0.3,0.3,0.4,0.7,0.4,1.2S8.1,7.6,7.7,8.5c-0.4,0.9-0.5,1.7-0.5,2.3c0,0.5,0.1,0.9,0.5,1.2s0.8,0.5,1.3,0.5
        c0.4,0,0.8-0.1,1.2-0.3c0.4-0.3,0.7-0.5,0.9-0.8c0.5-0.8,0.9-1.6,1.1-2.5c0.1-0.5,0.1-0.9,0.3-1.3c0-0.4,0.1-0.8,0.1-1.2
        c0-1.3-0.4-2.4-1.3-3.2C10.4,2.4,9.3,2,7.9,2c-1.6,0-2.9,0.5-4,1.6S2.3,6,2.3,7.6c0,0.4,0,0.7,0.1,1.1c0.1,0.1,0.3,0.4,0.4,0.7
        c0.1,0.1,0.3,0.4,0.3,0.5c0.1,0.1,0.1,0.3,0.1,0.4c0,0.3,0,0.5-0.1,0.9c-0.1,0.3-0.3,0.4-0.5,0.4c0,0-0.1,0-0.3,0
        c-0.3-0.1-0.7-0.4-0.9-0.7c-0.4-0.3-0.7-0.7-0.8-1.1C0.4,9.3,0.3,8.9,0.1,8.5C0.1,8.1,0,7.6,0,7.2L0,7.2z"/>
      </g>
      <style>{{ wrapper }} .icon--pinterest:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'vimeo' %}
    <svg class="icon--vimeo {{ classes }}" height="{{ size }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
    y="0px" viewBox="0 0 23.1 20" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <path d="M22,8.2c-2.3,5-8,11.8-11.6,11.8c-3.5,0-4-7.5-6-12.5C3.5,5,2.9,5.6,1.1,6.8L0,5.4c2.6-2.3,5.2-4.9,6.8-5.1
        C8.6,0.2,9.7,1.4,10.1,4c0.5,3.4,1.3,8.8,2.6,8.8c1,0,3.6-4.2,3.7-5.8c0.2-2.2-1.6-2.3-3.3-1.6C15.8-2.9,26.4-1.4,22,8.2z"/>
      </g>
      <style>{{ wrapper }} .icon--vimeo:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'tumblr' %}
    <svg class="icon--tumblr {{ classes }}" height="{{ size }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
    y="0px" viewBox="0 0 15 20" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <path d="M13.8,14.6L13.8,14.6L11,14.5c-0.1,0-0.1-0.4-0.1-0.5V9.2c0,0,0-0.1,0.1-0.1h3.2c0,0,0.1,0,0.1-0.1V4.3
        c0,0,0-0.1-0.1-0.1H11c0,0-0.1,0-0.1-0.1v-4c0,0,0-0.1-0.1-0.1h-6c-0.4,0-0.9,0.3-1,0.9C3.6,3.2,2.3,4.3,0.3,5H0.1L0,5.1v4
        c0,0,0,0.1,0.1,0.1h2.4v5.1C2.5,18.2,5,20,10,20c2,0,4.2-0.7,4.9-1.6l0.1-0.2C15,18.3,13.8,14.6,13.8,14.6z M14,18.1
        c-0.6,0.6-2.1,1-3.4,1.1h-0.1c-4,0-4.7-3.1-4.7-4.9V8.4c0,0,0-0.1-0.1-0.1H3.4c0,0-0.1,0-0.1-0.1V5.7l0.1-0.1c2-0.8,3.2-2.1,3.5-4.6
        C6.9,0.9,7,0.9,7,0.9h2.9c0,0,0.1,0,0.1,0.1v4c0,0,0,0,0.1,0h3.2c0,0,0.1,0,0.1,0.1v3.2c0,0,0,0.1-0.1,0.1h-3.2c0,0-0.1,0-0.1,0.1
        V14c0,1.2,0.6,1.8,1.7,1.8c0.5,0,0.9-0.1,1.4-0.3c0,0,0.1,0,0.1,0.1L14,18.1C14.1,18,14,18.1,14,18.1z"/>
      </g>
      <style>{{ wrapper }} .icon--tumblr:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'snapchat' %}
    <svg class="icon--snapchat {{ classes }}" height="{{ size }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
    y="0px" viewBox="0 0 21.2 20" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <path d="M5.2,3.2C4.6,4.4,4.8,6.5,4.9,8.1C4.3,8.4,3.6,7.9,3.2,7.9s-1,0.3-1,0.7c-0.1,0.3,0,0.7,1,1.1
        c0.4,0.2,1.3,0.3,1.5,0.8c0.3,0.7-1.5,3.9-4.3,4.4c-0.3,0-0.4,0.2-0.4,0.5c0,0.9,2,1.2,2.8,1.3c0.1,0.1,0.2,0.6,0.3,1
        c0.1,0.2,0.2,0.4,0.5,0.4C4,18.1,4.8,17.8,6,18s2.4,2,4.6,2c2.1,0,3.3-1.8,4.5-2c0.7-0.1,1.3-0.1,1.9,0.1c0.5,0.1,0.9,0.1,1-0.3
        s0.2-0.9,0.3-1c0.8-0.1,2.8-0.5,2.8-1.3c0-0.2-0.1-0.4-0.4-0.5c-2.8-0.5-4.7-3.7-4.4-4.4c0.2-0.5,1.1-0.7,1.5-0.8
        c0.7-0.3,1.1-0.6,1.1-1C19,8.3,18.4,8,17.9,8s-1.1,0.6-1.7,0.3c0.1-1.5,0.3-3.6-0.2-4.8C15,1.1,12.7,0,10.4,0
        C8.4-0.2,6.2,0.9,5.2,3.2z"/>
      </g>
      <style>{{ wrapper }} .icon--snapchat:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'linkedin' %}
    <svg class="icon--linkedin {{ classes }}" height="{{ size }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
    y="0px" viewBox="0 0 21 20" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <path d="M14.7,6.3c3.5,0,6.3,2.8,6.3,6.3V20h-4.2v-7.4c0-1.2-0.9-2.1-2.1-2.1s-2.1,0.9-2.1,2.1V20H8.4v-7.4
        C8.4,9.1,11.2,6.3,14.7,6.3z"/>
        <rect y="7.4" width="4.2" height="12.6"/>
        <circle cx="2.1" cy="2.1" r="2.1"/>
      </g>
      <style>{{ wrapper }} .icon--linkedin:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'flickr' %}
    <svg class="icon--flickr {{ classes }}" height="{{ size }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
    y="0px" viewBox="0 0 34.3 20" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <path d="M24.3,0c-2.8,0-5.3,1.2-7.1,3c-1.8-1.9-4.3-3-7.1-3C4.5,0,0,4.5,0,10s4.5,10,10,10c2.8,0,5.3-1.2,7.1-3c1.8,1.9,4.3,3,7.1,3
        c5.5,0,10-4.5,10-10S29.8,0,24.3,0z M24.3,17.1c-3.9,0-7.1-3.2-7.1-7.1s3.2-7.1,7.1-7.1s7.1,3.2,7.1,7.1S28.2,17.1,24.3,17.1z"/>
      </g>
      <style>{{ wrapper }} .icon--flickr:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'tiktok' %}
    <svg class="icon--tiktok {{ classes }}" height="{{ size }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
    y="0px" viewBox="0 0 15.7 20" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <path d="M11.9,0c0.1,0,0.2,0,0.3,0.1c0.1,0.1,0.1,0.2,0.1,0.3c0,0.4,0.1,0.9,0.4,1.2c0.6,0.8,1.6,1.1,2.5,0.6c0.1-0.1,0.2-0.1,0.3,0
        l0,0c0.1,0.1,0.2,0.2,0.2,0.3l0,0v4c0,0.2-0.1,0.3-0.3,0.4C14.5,7,13.6,7,12.8,6.8l0,0V14c0,0,0,0.1,0,0.2c-0.3,3.5-3.4,6.1-6.9,5.8
        c-3.6-0.3-6.2-3.4-5.9-7c0.3-3.2,2.9-5.7,6.1-5.8h0.1c0.2,0,0.4,0.1,0.4,0.3l0,0l0,0V12c0,0.2-0.2,0.4-0.3,0.4
        c-0.7,0.1-1.2,0.6-1.2,1.3c0,0.7,0.6,1.3,1.3,1.3s1.2-0.5,1.3-1.2l0,0V0.4C7.6,0.2,7.8,0,8,0l0,0H11.9z"/>
      </g>
      <style>{{ wrapper }} .icon--tiktok:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'etsy' %}
    <svg class="icon--etsy {{ classes }}" height="{{ size }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 17.2 20" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <path d="M17.2,14.1c-0.1,0.5-0.6,4.9-0.7,5.9c-5.3-0.2-9.8-0.2-16.5,0v-1.1c2-0.4,2.7-0.4,2.7-1.6c0.1-3.2,0.2-10.9,0-14.4
        c0-1.3-0.5-1.2-2.7-1.6V0.2C3.4,0.3,11.5,0.6,16.3,0c-0.2,1.7-0.4,5.7-0.4,5.7h-1c-0.5-1.9-0.8-4-2.5-4h-6C5.9,1.6,5.9,1.8,5.9,2
        v7.3c2.6,0,4-0.1,4-0.1c1.3,0,1.2-0.4,1.8-2.9h1.2c-0.2,2.4-0.2,4.8-0.1,7.2h-1.1c-0.4-1.8-0.4-2.7-1.8-2.8c0,0-1-0.1-3.9-0.1v6.2
        c0,1.2,0.6,1.7,2,1.7h4c2.8,0,3-1.1,4.4-4.5L17.2,14.1z"/>
      </g>
      <style>{{ wrapper }} .icon--etsy:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% endif %}
{% endif %}

{% if type == 'media-icons' %}
  {% if icon == 'airplay' %}
    <svg class="icon--media-airplay {{ classes }}" height="{{ size }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44">
      <g class="hover-fill" fill="{{ fill }}">
        <path fill="{{ fill }}" d="M17.93,30h8.14a1,1,0,0,0,.71-1.71l-4.07-4.07a1,1,0,0,0-1.42,0l-4.07,4.07A1,1,0,0,0,17.93,30Z"/>
        <path fill="{{ fill }}" d="M28,26.11h-.73a1,1,0,0,1,0-2H28V16H16v8.11h.7a1,1,0,0,1,0,2H16a2,2,0,0,1-2-2V16a2,2,0,0,1,2-2H28a2,2,0,0,1,2,2v8.11A2,2,0,0,1,28,26.11Z"/>
      </g>
      <style>{{ wrapper }} .icon--media-airplay:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'captions-off' %}
    <svg class="icon--media-captions-off {{ classes }}" height="{{ size }}" data-name="Captions Off" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17.99 15">
      <g class="hover-fill" fill="{{ fill }}">
        <path d="M30,14H14a1,1,0,0,0-1,1V25.11a1,1,0,0,0,1,1h5.25l1.94,2.5a1,1,0,0,0,1.58,0l1.94-2.5H30a1,1,0,0,0,1-1V15A1,1,0,0,0,30,14ZM18.56,22.24a2.06,2.06,0,0,0,1.6-.79.76.76,0,0,1,.91-.24.71.71,0,0,1,.26,1.1,3.51,3.51,0,0,1-2.77,1.36,3.62,3.62,0,0,1,0-7.23,3.54,3.54,0,0,1,2.77,1.36.72.72,0,0,1-.26,1.11.77.77,0,0,1-.91-.25,2.05,2.05,0,0,0-1.6-.78,2.18,2.18,0,0,0,0,4.36Zm10.28.07a3.51,3.51,0,0,1-2.77,1.36,3.62,3.62,0,0,1,0-7.23,3.54,3.54,0,0,1,2.77,1.36.72.72,0,0,1-.26,1.11.78.78,0,0,1-.92-.25,2,2,0,0,0-1.59-.78,2.18,2.18,0,0,0,0,4.36,2,2,0,0,0,1.59-.79.78.78,0,0,1,.92-.24A.71.71,0,0,1,28.84,22.31Z" transform="translate(-13.02 -14)"/>
      </g>
      <style>{{ wrapper }} .icon--media-captions-off:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'captions-on' %}
    <svg class="icon--media-captions-on {{ classes }}" height="{{ size }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44">
      <g class="hover-fill" fill="{{ fill }}">
        <path class="cls-1" fill="{{ fill }}" d="M30,14H14a1,1,0,0,0-1,1V25.11a1,1,0,0,0,1,1h5.25l1.94,2.5a1,1,0,0,0,1.58,0l1.94-2.5H30a1,1,0,0,0,1-1V15A1,1,0,0,0,30,14ZM18.56,22.24a2.06,2.06,0,0,0,1.6-.79.76.76,0,0,1,.91-.24.71.71,0,0,1,.26,1.1,3.51,3.51,0,0,1-2.77,1.36,3.62,3.62,0,0,1,0-7.23,3.54,3.54,0,0,1,2.77,1.36.72.72,0,0,1-.26,1.11.77.77,0,0,1-.91-.25,2.05,2.05,0,0,0-1.6-.78,2.18,2.18,0,0,0,0,4.36Zm10.28.07a3.51,3.51,0,0,1-2.77,1.36,3.62,3.62,0,0,1,0-7.23,3.54,3.54,0,0,1,2.77,1.36.72.72,0,0,1-.26,1.11.78.78,0,0,1-.92-.25,2,2,0,0,0-1.59-.78,2.18,2.18,0,0,0,0,4.36,2,2,0,0,0,1.59-.79.78.78,0,0,1,.92-.24A.71.71,0,0,1,28.84,22.31Z"/>
      </g>
      <style>{{ wrapper }} .icon--media-captions-on:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'download' %}
    <svg class="icon--media-download {{ classes }}" height="{{ size }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44">
      <g class="hover-fill" fill="{{ fill }}">
        <path d="M29,28H15a1,1,0,1,0,0,2H29a1,1,0,1,0,0-2Z"/>
        <path d="M21.29,25.7a1.06,1.06,0,0,0,.33.22,1.07,1.07,0,0,0,.76,0,1.06,1.06,0,0,0,.33-.22l5-5a1,1,0,0,0-1.41-1.41L23,22.58V15a1,1,0,0,0-2,0v7.58l-3.29-3.29A1,1,0,0,0,16.3,20.7Z"/>
      </g>
      <style>{{ wrapper }} .icon--media-download:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'enter-fullscreen' %}
    <svg id="Fullscreen" class="{{ classes }}" width="{{ width }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44"><title>plyr-fullscreen</title><path class="cls-1" fill="{{ fill }}" d="M29,14H25a1,1,0,0,0,0,2h3v3a1,1,0,0,0,2,0V15A1,1,0,0,0,29,14Z"/><path class="cls-1" fill="{{ fill }}" d="M19,28H16V25a1,1,0,0,0-2,0v4a1,1,0,0,0,1,1h4a1,1,0,0,0,0-2Z"/><path class="cls-1" fill="{{ fill }}" d="M29,24a1,1,0,0,0-1,1v3H25a1,1,0,0,0,0,2h4a1,1,0,0,0,1-1V25A1,1,0,0,0,29,24Z"/><path class="cls-1" fill="{{ fill }}" d="M19,14H15a1,1,0,0,0-1,1v4a1,1,0,0,0,2,0V16h3a1,1,0,0,0,0-2Z"/></svg>
  {% elsif icon == 'exit-fullscreen' %}
    <svg id="Exit_Fullscreen" class="{{ classes }}" width="{{ width }}" data-name="Exit Fullscreen" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44"><title>plyr-exit-fullscreen</title><path class="cls-1" fill="{{ fill }}" d="M25,20h4a1,1,0,0,0,0-2H26V15a1,1,0,0,0-2,0v4A1,1,0,0,0,25,20Z"/><path class="cls-1" fill="{{ fill }}" d="M15,26h3v3a1,1,0,0,0,2,0V25a1,1,0,0,0-1-1H15a1,1,0,0,0,0,2Z"/><path class="cls-1" fill="{{ fill }}" d="M25,30a1,1,0,0,0,1-1V26h3a1,1,0,0,0,0-2H25a1,1,0,0,0-1,1v4A1,1,0,0,0,25,30Z"/><path class="cls-1" fill="{{ fill }}" d="M15,20h4a1,1,0,0,0,1-1V15a1,1,0,0,0-2,0v3H15a1,1,0,0,0,0,2Z"/></svg>
  {% elsif icon == 'fast-forward' %}
    <svg id="Fast_Forward" class="{{ classes }}" width="{{ width }}" data-name="Fast Forward" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44"><title>plyr-fast-forward</title><path class="cls-1" fill="{{ fill }}" d="M21.12,20l-6.58-5.47a1,1,0,0,0-1.6.78V28.7a1,1,0,0,0,1.6.78L21.12,24v4.68a1,1,0,0,0,1.59.77l8-6.69a1,1,0,0,0,0-1.54l-8-6.69a1,1,0,0,0-1.59.77Z"/></svg>
  {% elsif icon == 'logo-vimeo' %}
    <svg id="Vimeo" class="{{ classes }}" width="{{ width }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44"><title>plyr-logo-vimeo</title><path class="cls-1" fill="{{ fill }}" d="M30,18.37c-.1,1.59-1.2,3.68-3.28,6.36s-4,4.18-5.47,4.18c-.89,0-1.69-.9-2.38-2.59-.8-2.38-1.4-7.25-2.79-7.25a7.46,7.46,0,0,0-1.19.79l-.79-1c.79-.7,3.47-3.38,4.67-3.48s2,.7,2.28,2.49c.3,2,.8,6.06,1.79,6.06s2.49-3.38,2.58-4c.1-.89-.29-1.89-2.28-1.09.79-2.58,2.28-3.78,4.47-3.78C29.25,15.19,30.05,16.29,30,18.37Z"/></svg>
  {% elsif icon == 'logo-youtube' %}
    <svg id="Youtube" class="{{ classes }}" width="{{ width }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44"><title>plyr-logo-youtube</title><path class="cls-1" fill="{{ fill }}" d="M29.75,18.82a2.45,2.45,0,0,0-2.19-2.38,38.84,38.84,0,0,0-11.12,0,2.37,2.37,0,0,0-2.19,2.38,25.38,25.38,0,0,0,0,6.36,2.45,2.45,0,0,0,2.19,2.38A39,39,0,0,0,22,28a39,39,0,0,0,5.56-.4,2.53,2.53,0,0,0,2.19-2.38,25.38,25.38,0,0,0,0-6.36ZM20,25V19l5,3Z"/></svg>
  {% elsif icon == 'muted' %}
    <svg id="Muted" class="{{ classes }}" width="{{ width }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44"><title>plyr-muted</title><path class="cls-1" fill="{{ fill }}" d="M30.84,29.43l-2.15-2.15A8.78,8.78,0,0,0,30.43,22a8.61,8.61,0,0,0-4.57-7.73.86.86,0,0,0-1.15.38.88.88,0,0,0,.38,1.17A6.87,6.87,0,0,1,28.73,22a7.06,7.06,0,0,1-1.27,4.06l-1.33-1.34a5.24,5.24,0,0,0-.94-6.58.83.83,0,0,0-1.2.07.88.88,0,0,0,.07,1.22,3.49,3.49,0,0,1,.81,4l-2.8-2.8V15.92a.85.85,0,0,0-1.38-.68l-2.22,1.82-3.9-3.9a1,1,0,0,0-1.41,1.41L29.43,30.84a1,1,0,0,0,1.41-1.41Z"/><path class="cls-1" fill="{{ fill }}" d="M13.57,20.26v3.48a1.73,1.73,0,0,0,1.7,1.74h1.4l4,3.28a.85.85,0,0,0,1.38-.68V26.29L14.5,18.72A1.74,1.74,0,0,0,13.57,20.26Z"/></svg>
  {% elsif icon == 'pause' %}
    <svg id="Pause" class="{{ classes }}" width="{{ width }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44"><defs><style>.cls-1{fill-rule:evenodd;}</style></defs><title>plyr-pause</title><path class="cls-1" fill="{{ fill }}" d="M17.5,14a2,2,0,0,0-2,2V28a2,2,0,0,0,4,0V16A2,2,0,0,0,17.5,14Zm9,0a2,2,0,0,0-2,2V28a2,2,0,0,0,4,0V16A2,2,0,0,0,26.5,14Z"/></svg>
  {% elsif icon == 'pip' %}
    <svg id="PIP" class="{{ classes }}" width="{{ width }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44"><defs><style>.cls-1{fill-rule:evenodd;}</style></defs><title>plyr-pip</title><path class="cls-1" fill="{{ fill }}" d="M27,23a1,1,0,0,0-1,1v4H16V18h4a1,1,0,0,0,0-2H15a1,1,0,0,0-1,1V29a1,1,0,0,0,1,1H27a1,1,0,0,0,1-1V24A1,1,0,0,0,27,23Z"/><path class="cls-1" fill="{{ fill }}" d="M28.89,14l-3.48.4a1,1,0,0,0-.59,1.7l.83.83-5.34,5.34a1,1,0,0,0,0,1.41,1,1,0,0,0,1.41,0l5.34-5.34.83.83a1,1,0,0,0,1.7-.59l.4-3.48A1,1,0,0,0,28.89,14Z"/></svg>
  {% elsif icon == 'play' %}
    <svg class="icon--media-play {{ classes }}" height="{{ size }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44">
      <g class="hover-fill" fill="{{ fill }}">
        <path d="M17.41,14.23a1,1,0,0,0-1.52.84V28.93a1,1,0,0,0,1.56.81L27.7,22.41a1,1,0,0,0-.05-1.64Z"/>
      </g>
      <style>{{ wrapper }} .icon--media-play:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'restart' %}
    <svg id="Restart" class="{{ classes }}" width="{{ width }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44"><defs><style>.cls-1{fill-rule:evenodd;}</style></defs><title>plyr-restart</title><path class="cls-1" fill="{{ fill }}" d="M28.44,17.25l1-1a1,1,0,0,0-.6-1.7l-3.47-.4a1,1,0,0,0-1.11,1.11l.4,3.47a1,1,0,0,0,1.7.59l.68-.68A6,6,0,1,1,21,16.05a1,1,0,0,0,.81-1.15,1,1,0,0,0-1.16-.82A8,8,0,1,0,30,22,7.87,7.87,0,0,0,28.44,17.25Z"/></svg>
  {% elsif icon == 'rewind' %}
    <svg id="Rewind" class="{{ classes }}" width="{{ width }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44"><title>plyr-rewind</title><path class="cls-1" fill="{{ fill }}" d="M22.88,15.31a1,1,0,0,0-1.59-.77l-8,6.69a1,1,0,0,0,0,1.54l8,6.69a1,1,0,0,0,1.59-.77V24l6.58,5.47a1,1,0,0,0,1.6-.78V15.3a1,1,0,0,0-1.6-.78L22.88,20Z"/></svg>
  {% elsif icon == 'settings' %}
    <svg id="Settings" class="{{ classes }}" width="{{ width }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44"><title>plyr-settings</title><path class="cls-1" fill="{{ fill }}" d="M29.14,20.78a2,2,0,0,1-1.24-3,1,1,0,0,0-.09-1.32l-.31-.31a1,1,0,0,0-1.31-.09,2,2,0,0,1-3-1.23,1,1,0,0,0-1-.87h-.44a1,1,0,0,0-1,.87,2,2,0,0,1-3,1.23,1,1,0,0,0-1.32.09l-.31.31a1,1,0,0,0-.09,1.32,2,2,0,0,1-1.23,3,1,1,0,0,0-.87,1v.44a1,1,0,0,0,.87,1,2,2,0,0,1,1.23,3,1,1,0,0,0,.09,1.31l.31.31a1,1,0,0,0,1.32.09,2,2,0,0,1,3,1.24,1,1,0,0,0,1,.86h.44a1,1,0,0,0,1-.86,2,2,0,0,1,3-1.24,1,1,0,0,0,1.31-.09l.31-.31a1,1,0,0,0,.09-1.31,2,2,0,0,1,1.24-3,1,1,0,0,0,.86-1v-.44a1,1,0,0,0-.86-1ZM22,25a3,3,0,1,1,3-3,3,3,0,0,1-3,3Z"/></svg>
  {% elsif icon == '3d-badge' %}
    <svg id="three-d-badge" class="{{ classes }}" xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26"><title>3d-badge-thumbnail-angular</title>
      <path d="M1,25H25V1H1Z" fill="#fff"/>
      <path d="M.5,25v.5h25V.5H.5V25Z" fill="none" stroke="#000" stroke-opacity="0.05"/>
      <path class="colored" d="M13,5.13,6.19,9.07v7.87L13,20.87l6.81-3.93V9.07Zm.62,7.07-.62.4v6.53L7.69,16.07V9.93L13,6.87l4.87,2.81Z" fill="{{ fill }}" opacity="0.6"/>
    </svg>
  {% elsif icon == '3d-icon' %}
    <svg class="icon--media-3d-icon {{ classes }}" xmlns="http://www.w3.org/2000/svg" height="{{ size }}" viewBox="0 0 61 61">
      <g class="hover-fill" fill="{{ fill }}">
        <path d="M30.5,17.35,18.24,24.42V38.58L30.5,45.65l12.26-7.08V24.42ZM20.24,37.42V25.58L30.5,19.65,40.63,25.5,30.5,31.38v12Z"/>
      </g>
      <style>{{ wrapper }} .icon--media-3d-icon:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {% elsif icon == 'play-icon' %}
    <svg id="play-icon" class="{{ classes }}" xmlns="http://www.w3.org/2000/svg" width="61" height="61" viewBox="0 0 61 61">
      <title>play-icon-button-control-angular</title>
      <rect x="0.5" y="0.5" width="60" height="60" fill="#fff" stroke="#f5f5f5" stroke-miterlimit="10"/>
      <path d="M23.5,20.5v20l16-10.58Z" fill="{{ fill }}"/>
    </svg>
  {% elsif icon == 'video-badge' %}
    <svg id="video-badge" class="{{ classes }}" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M1 25H25V1H1V25Z" fill="white"/>
      <path d="M0.5 25V25.5H1H25H25.5V25V1V0.5H25H1H0.5V1V25Z" stroke="black" stroke-opacity="0.05"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M8.19995 5.8V20.2L19.3999 12.5858L8.19995 5.8Z" fill="{{ fill }}" fill-opacity="0.6"/>
    </svg>
  {% elsif icon == '3d-viewer-controls' %}
    <svg id="viewer-controls" class="{{ classes }}" width="47" height="136" viewBox="0 0 47 136" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M1.07703 135H45.077V1H1.07703V135Z" fill="white"/>
      <path class="colored-stroke" d="M0.577026 135V135.5H1.07703H45.077H45.577V135V1V0.5H45.077H1.07703H0.577026V1V135Z" stroke="black" stroke-opacity="0.05"/>
      <rect class="colored" x="9" y="45" width="28" height="1" fill="black" fill-opacity="0.05"/>
      <rect class="colored" x="9" y="90" width="28" height="1" fill="black" fill-opacity="0.05"/>
      <path class="colored" fill-rule="evenodd" clip-rule="evenodd" d="M25 105C25 104.448 25.4477 104 26 104H30C30.5523 104 31 104.448 31 105V109C31 109.552 30.5523 110 30 110C29.4477 110 29 109.552 29 109V106H26C25.4477 106 25 105.552 25 105Z" fill="{{ fill }}" fill-opacity="0.8"/>
      <path class="colored" fill-rule="evenodd" clip-rule="evenodd" d="M16 114C16.5523 114 17 114.448 17 115V118H20C20.5523 118 21 118.448 21 119C21 119.552 20.5523 120 20 120H16C15.4477 120 15 119.552 15 119V115C15 114.448 15.4477 114 16 114Z" fill="{{ fill }}" fill-opacity="0.8"/>
      <path class="colored" fill-rule="evenodd" clip-rule="evenodd" d="M30 114C30.5523 114 31 114.448 31 115V119C31 119.552 30.5523 120 30 120H26C25.4477 120 25 119.552 25 119C25 118.448 25.4477 118 26 118H29V115C29 114.448 29.4477 114 30 114Z" fill="{{ fill }}" fill-opacity="0.8"/>
      <path class="colored" fill-rule="evenodd" clip-rule="evenodd" d="M15 105C15 104.448 15.4477 104 16 104H20C20.5523 104 21 104.448 21 105C21 105.552 20.5523 106 20 106H17V109C17 109.552 16.5523 110 16 110C15.4477 110 15 109.552 15 109V105Z" fill="{{ fill }}" fill-opacity="0.8"/>
      <path class="colored" fill-rule="evenodd" clip-rule="evenodd" d="M24 16C24 15.4477 23.5523 15 23 15C22.4477 15 22 15.4477 22 16V22H16C15.4477 22 15 22.4477 15 23C15 23.5523 15.4477 24 16 24H22V30C22 30.5523 22.4477 31 23 31C23.5523 31 24 30.5523 24 30V24H30C30.5523 24 31 23.5523 31 23C31 22.4477 30.5523 22 30 22H24V16Z" fill="{{ fill }}" fill-opacity="0.8"/>
      <path class="colored" fill-rule="evenodd" clip-rule="evenodd" d="M15 68C15 67.4477 15.4477 67 16 67H30C30.5523 67 31 67.4477 31 68C31 68.5523 30.5523 69 30 69H16C15.4477 69 15 68.5523 15 68Z" fill="{{ fill }}" fill-opacity="0.8"/>
    </svg>
  {% elsif icon == '3d-hand-cursor' %}
    <svg id="hand-cursor" class="{{ classes }}" width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="44" height="44" fill="white" fill-opacity="0.01"/>
      <path class="colored" fill-rule="evenodd" clip-rule="evenodd" d="M19.7329 14.1646C19.7729 13.0566 20.4989 12.1376 21.4759 11.8576C21.6769 11.8066 21.8849 11.7686 22.1039 11.7686C22.2629 11.7686 22.4179 11.7856 22.5669 11.8126C23.6549 12.0136 24.4769 12.9046 24.4769 13.9726V22.8536H25.4579H25.7379C28.6809 21.4646 30.7369 18.4046 30.7369 14.8286C30.7369 12.7216 30.0229 10.7876 28.8369 9.26863C28.7009 9.09563 28.5549 8.93163 28.4079 8.76863C27.6429 7.93063 26.7249 7.24663 25.6959 6.76863C24.6389 6.27763 23.4699 5.99963 22.2369 5.99963C21.0039 5.99963 19.8359 6.27763 18.7779 6.76863C17.7489 7.24663 16.8309 7.93063 16.0669 8.76863C15.9189 8.93163 15.7729 9.09563 15.6369 9.26863C14.4509 10.7876 13.7369 12.7216 13.7369 14.8286C13.7369 15.2726 13.7689 15.7086 13.8309 16.1336C13.8599 16.3446 13.9189 16.5446 13.9619 16.7506C14.0069 16.9586 14.0399 17.1726 14.0979 17.3746C14.1809 17.6606 14.2939 17.9336 14.4029 18.2066C14.4479 18.3156 14.4789 18.4326 14.5269 18.5396C14.6749 18.8696 14.8499 19.1856 15.0359 19.4926C15.0589 19.5316 15.0769 19.5756 15.1009 19.6146C15.9619 20.9886 17.1819 22.0986 18.6219 22.8056L19.7329 23.3426V14.1646Z" fill="{{ fill }}" fill-opacity="0.5"/>
      <path class="colored" fill-rule="evenodd" clip-rule="evenodd" d="M33.9399 29.2183L31.1799 36.9593C31.0079 37.4443 30.5039 37.7693 29.9269 37.7693H23.2409C21.6349 37.7693 20.1489 37.0883 19.2619 35.9493C17.6699 33.9013 15.6149 32.1273 13.1529 30.6793C13.0579 30.6243 13.0039 30.5423 13.0009 30.4483C12.9969 30.3483 13.0469 30.2523 13.1939 30.1513C13.7529 29.7583 14.4279 29.5523 15.1199 29.5523C15.3499 29.5523 15.5829 29.5743 15.8109 29.6213L20.7329 30.6153V27.9993V23.4883V13.9723C20.7329 13.3093 21.3479 12.7693 22.1039 12.7693C22.8609 12.7693 23.4769 13.3093 23.4769 13.9723V22.8633V23.8543H24.4579H25.9769H26.4299C26.7029 23.8543 26.9629 23.9273 27.1869 24.0653L33.4439 27.9393C33.4709 27.9563 33.4889 27.9813 33.5139 27.9993C33.9229 28.2953 34.0999 28.7703 33.9399 29.2183ZM15.1009 19.6143C15.0769 19.5753 15.0589 19.5313 15.0359 19.4923C14.8499 19.1863 14.6749 18.8693 14.5269 18.5393C14.4789 18.4323 14.4479 18.3163 14.4029 18.2063C14.2939 17.9333 14.1809 17.6603 14.0979 17.3743C14.0399 17.1723 14.0069 16.9583 13.9619 16.7503C13.9189 16.5443 13.8599 16.3443 13.8309 16.1333C13.7689 15.7083 13.7369 15.2733 13.7369 14.8283C13.7369 12.7213 14.4509 10.7873 15.6369 9.26931C15.7729 9.0953 15.9189 8.93131 16.0669 8.76931C16.8309 7.93031 17.7489 7.24631 18.7779 6.76931C19.8359 6.27831 21.0039 5.99931 22.2369 5.99931C23.4699 5.99931 24.6389 6.27831 25.6959 6.76931C26.7249 7.24631 27.6429 7.93031 28.4079 8.76931C28.5549 8.93131 28.7009 9.0953 28.8359 9.26931C30.0229 10.7873 30.7369 12.7213 30.7369 14.8283C30.7369 18.4053 28.6809 21.4643 25.7379 22.8543H25.4579H24.4769V13.9723C24.4769 12.9053 23.6549 12.0133 22.5669 11.8133C22.4179 11.7853 22.2629 11.7693 22.1039 11.7693C21.8849 11.7693 21.6769 11.8063 21.4759 11.8583C20.4989 12.1373 19.7729 13.0563 19.7329 14.1643V23.3423L18.6219 22.8053C17.1809 22.0983 15.9609 20.9903 15.1009 19.6143ZM33.9689 27.0893L27.7129 23.2153C27.6109 23.1523 27.4949 23.1173 27.3829 23.0713C30.0659 21.2813 31.7369 18.2163 31.7369 14.8283C31.7369 14.3423 31.6999 13.8643 31.6329 13.3973C31.4179 11.8823 30.8679 10.4783 30.0629 9.26931C29.9699 9.12931 29.8689 8.99431 29.7679 8.86131C29.7459 8.83031 29.7239 8.79931 29.7019 8.76931C29.4109 8.38631 29.0929 8.02631 28.7529 7.69131C28.4109 7.35731 28.0449 7.04831 27.6589 6.76931C26.5039 5.93531 25.1669 5.35731 23.7179 5.11931C23.4769 5.08031 23.2329 5.05031 22.9859 5.03131C22.7389 5.01031 22.4899 5.00031 22.2379 5.00031C21.7339 5.00031 21.2389 5.04131 20.7559 5.11931C19.3089 5.35731 17.9699 5.93531 16.8159 6.76931C16.5279 6.97731 16.2649 7.21631 16.0029 7.45531C15.7019 7.72831 15.4229 8.02231 15.1579 8.33231C15.0319 8.48031 14.8909 8.61431 14.7729 8.76931C14.7169 8.84231 14.6659 8.91831 14.6119 8.99231C14.5439 9.08331 14.4749 9.17431 14.4119 9.26931C14.3099 9.42131 14.2159 9.57831 14.1239 9.73731C13.9739 9.9903 13.8329 10.2483 13.7059 10.5153C13.6909 10.5453 13.6799 10.5763 13.6659 10.6063C13.0729 11.8873 12.7369 13.3173 12.7369 14.8283C12.7369 18.6603 14.9189 22.1703 18.2959 23.7663L19.7329 24.4473V27.9993V29.3933L16.0099 28.6413C15.7149 28.5823 15.4189 28.5543 15.1219 28.5553C15.1049 28.5553 15.0879 28.5583 15.0709 28.5583C14.8189 28.5623 14.5679 28.5913 14.3199 28.6373C14.2409 28.6533 14.1619 28.6733 14.0829 28.6933C13.8899 28.7393 13.7009 28.8003 13.5149 28.8733C13.4399 28.9033 13.3639 28.9303 13.2899 28.9633C13.0409 29.0773 12.7959 29.2073 12.5669 29.3683C12.1939 29.6313 11.9829 30.0513 12.0009 30.4903C12.0199 30.9233 12.2599 31.3163 12.6459 31.5413C14.9989 32.9253 16.9589 34.6143 18.4729 36.5633C18.6069 36.7363 18.7519 36.9003 18.9069 37.0543C19.9929 38.1363 21.5629 38.7673 23.2329 38.7693H29.9299C30.6779 38.7683 31.3609 38.4363 31.7879 37.8973C31.9299 37.7183 32.0439 37.5163 32.1239 37.2953L34.8809 29.5543C34.9749 29.2933 35.0099 29.0243 34.9929 28.7603C34.9749 28.4973 34.9049 28.2393 34.7899 27.9993C34.6159 27.6393 34.3399 27.3193 33.9689 27.0893Z" fill="{{ fill }}" fill-opacity="0.6"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M33.4442 27.9385L27.1872 24.0645C26.9632 23.9275 26.7022 23.8535 26.4302 23.8535H25.9772H24.4572H23.4772V22.8625V13.9725C23.4772 13.3095 22.8612 12.7695 22.1042 12.7695C21.3482 12.7695 20.7332 13.3095 20.7332 13.9725V23.4875V27.9995V30.6155L15.8112 29.6215C15.5822 29.5745 15.3502 29.5525 15.1192 29.5525C14.4282 29.5525 13.7522 29.7585 13.1942 30.1505C13.0472 30.2525 12.9962 30.3485 13.0002 30.4485C13.0042 30.5425 13.0582 30.6245 13.1532 30.6795C15.6152 32.1275 17.6702 33.9005 19.2622 35.9495C20.1492 37.0885 21.6352 37.7695 23.2412 37.7695H29.9272C30.5042 37.7695 31.0082 37.4435 31.1802 36.9595L33.9402 29.2185C34.1002 28.7705 33.9232 28.2955 33.5142 27.9995C33.4892 27.9805 33.4712 27.9565 33.4442 27.9385Z" fill="white"/>
      <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="11" y="4" width="25" height="36">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M11.0007 4.00031H35.9979V39.7688H11.0007V4.00031Z" fill="white"/>
      </mask>
      <g mask="url(#mask0)">
      <path class="colored" fill-rule="evenodd" clip-rule="evenodd" d="M34.9928 28.7603C35.0108 29.0243 34.9748 29.2933 34.8818 29.5543L32.1238 37.2953C32.0448 37.5163 31.9298 37.7183 31.7878 37.8973C31.3608 38.4363 30.6788 38.7683 29.9308 38.7693H23.2328C21.5628 38.7673 19.9928 38.1363 18.9068 37.0543C18.7528 36.9003 18.6068 36.7363 18.4728 36.5633C16.9588 34.6143 14.9988 32.9253 12.6458 31.5413C12.2608 31.3163 12.0198 30.9233 12.0008 30.4903C11.9828 30.0513 12.1938 29.6313 12.5668 29.3683C12.7968 29.2073 13.0408 29.0773 13.2898 28.9633C13.3638 28.9303 13.4398 28.9033 13.5148 28.8733C13.7018 28.8003 13.8898 28.7393 14.0828 28.6933C14.1618 28.6733 14.2408 28.6533 14.3198 28.6373C14.5678 28.5913 14.8188 28.5623 15.0708 28.5583C15.0888 28.5583 15.1048 28.5553 15.1218 28.5553C15.1248 28.5553 15.1278 28.5543 15.1318 28.5543C15.4248 28.5543 15.7188 28.5823 16.0108 28.6413L19.7328 29.3933V27.9993V24.4473L18.2968 23.7663C14.9198 22.1703 12.7368 18.6603 12.7368 14.8283C12.7368 13.3173 13.0728 11.8873 13.6658 10.6063C13.6808 10.5763 13.6908 10.5453 13.7058 10.5153C13.8328 10.2483 13.9738 9.9903 14.1238 9.73731C14.2168 9.57831 14.3098 9.42131 14.4118 9.26931C14.4748 9.17431 14.5448 9.08331 14.6118 8.99231C14.6658 8.91831 14.7178 8.84231 14.7728 8.76931C14.8908 8.61431 15.0318 8.48031 15.1578 8.3323C15.4238 8.02231 15.7018 7.72831 16.0028 7.45531C16.2648 7.21631 16.5278 6.97731 16.8158 6.76931C17.9708 5.93531 19.3088 5.35731 20.7568 5.11931C21.2388 5.04131 21.7338 5.00031 22.2378 5.00031C22.4898 5.00031 22.7388 5.01031 22.9858 5.03131C23.2328 5.05031 23.4768 5.08031 23.7188 5.11931C25.1668 5.35731 26.5048 5.93531 27.6588 6.76931C28.0458 7.04831 28.4108 7.35731 28.7528 7.69131C29.0938 8.02631 29.4108 8.38631 29.7018 8.76931C29.7238 8.79931 29.7458 8.83031 29.7678 8.86131C29.8698 8.99431 29.9708 9.12931 30.0628 9.26931C30.8688 10.4783 31.4178 11.8823 31.6338 13.3973C31.6998 13.8643 31.7368 14.3423 31.7368 14.8283C31.7368 18.2163 30.0658 21.2813 27.3838 23.0713C27.4948 23.1173 27.6108 23.1523 27.7138 23.2153L33.9698 27.0893C34.3408 27.3193 34.6148 27.6393 34.7898 27.9993C34.9048 28.2393 34.9748 28.4973 34.9928 28.7603ZM35.6898 27.5653C35.4248 27.0163 35.0128 26.5583 34.4958 26.2393L29.1728 22.9423C31.4278 20.9053 32.7368 17.9713 32.7368 14.8283C32.7368 12.6393 32.0998 10.5243 30.8958 8.71431C30.7698 8.52631 30.6348 8.34331 30.4968 8.16231C29.8518 7.31431 29.0948 6.57231 28.2448 5.95831C26.4718 4.67731 24.3928 4.00031 22.2378 4.00031C20.0808 4.00031 18.0048 4.67731 16.2298 5.95831C15.3818 6.57231 14.6238 7.31431 13.9768 8.16331C13.8408 8.34331 13.7048 8.52631 13.5788 8.71431C12.3738 10.5243 11.7368 12.6393 11.7368 14.8283C11.7368 19.0463 14.1438 22.9093 17.8698 24.6703L18.7328 25.0793V27.9993V28.1713L16.2078 27.6603C15.8518 27.5903 15.4908 27.5543 15.1318 27.5543C14.0068 27.5543 12.9208 27.8993 11.9918 28.5503C11.3388 29.0113 10.9698 29.7523 11.0028 30.5333C11.0358 31.3073 11.4608 32.0063 12.1408 32.4053C14.3818 33.7233 16.2468 35.3283 17.6838 37.1773C18.9428 38.7973 21.0168 39.7663 23.2328 39.7693H29.9308C31.3498 39.7683 32.6098 38.9083 33.0648 37.6313L35.8238 29.8903C36.0958 29.1333 36.0478 28.3063 35.6898 27.5653Z" fill="{{ fill }}" fill-opacity="0.05"/>
      </g>
    </svg>
  {% elsif icon == 'zoom-in' %}
    <svg id="zoom-in" class="{{ classes }}" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
      <title>zoomin_icon</title>
      <path class="cls-1" fill="{{ fill }}" d="M29,21H23V15a1,1,0,0,0-2,0v6H15a1,1,0,0,0,0,2h6v6a1,1,0,0,0,2,0V23h6a1,1,0,0,0,0-2Z" transform="translate(-14 -14)" fill-opacity="0.8"/>
    </svg>
  {% elsif icon == 'zoom-out' %}
    <svg id="zoom-out" class="{{ classes }}" xmlns="http://www.w3.org/2000/svg" width="16" height="2" viewBox="0 0 16 2"><title>zoomout_icon</title><path  class="cls-1" fill="{{ fill }}" d="M29,21H15a1,1,0,0,0,0,2H29a1,1,0,0,0,0-2Z" transform="translate(-14 -21)" fill-opacity="0.8"/></svg>
  {% else icon == 'volume' %}
    <svg id="Volume" class="{{ classes }}" width="{{ width }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44"><title>plyr-volume</title><path class="cls-1" fill="{{ fill }}" d="M20.69,15.24l-4,3.28h-1.4a1.73,1.73,0,0,0-1.7,1.74v3.48a1.73,1.73,0,0,0,1.7,1.74h1.4l4,3.28a.85.85,0,0,0,1.38-.68V15.92A.85.85,0,0,0,20.69,15.24Z"/><path class="cls-1" fill="{{ fill }}" d="M25.86,14.27a.86.86,0,0,0-1.15.38.88.88,0,0,0,.38,1.17A6.87,6.87,0,0,1,28.73,22a6.87,6.87,0,0,1-3.64,6.18.88.88,0,0,0-.38,1.17.85.85,0,0,0,1.15.38A8.62,8.62,0,0,0,30.43,22,8.61,8.61,0,0,0,25.86,14.27Z"/><path class="cls-1" fill="{{ fill }}" d="M26.89,22a5.14,5.14,0,0,0-1.7-3.86.83.83,0,0,0-1.2.07.88.88,0,0,0,.07,1.22,3.49,3.49,0,0,1,0,5.14A.88.88,0,0,0,24,25.79a.83.83,0,0,0,1.2.07A5.14,5.14,0,0,0,26.89,22Z"/></svg>
  {% endif %}
{% endif %}
