<!DOCTYPE html>
<html lang="en" class="no-js" lang="{{ request.locale.iso_code }}">
<head>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DY1PR3ZNKC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DY1PR3ZNKC');
</script>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Establish early connection to external domains -->
  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  <link rel="preconnect" href="https://fonts.shopify.com" crossorigin>
  <link rel="preconnect" href="https://monorail-edge.shopifysvc.com">
  <link rel="preconnect" href="//ajax.googleapis.com" crossorigin />

  {%- liquid

    assign main_font = settings.main_font
    assign heading_font = settings.heading_font
    assign nav_font = settings.nav_font
    assign main_font_bold = main_font | font_modify: 'weight', 'bolder'
    assign main_font_italic = main_font | font_modify: 'style', 'italic'
    assign main_font_bold_italic = main_font_bold | font_modify: 'style', 'italic'

  -%}
  
  <!-- Preload onDomain stylesheets and script libraries -->
  <link rel="preload" href="{{ 'stylesheet.css' | asset_url }}" as="style">
  <link rel="preload" as="font" href="{{ main_font | font_url }}" type="font/woff2" crossorigin>
  <link rel="preload" as="font" href="{{ nav_font | font_url }}" type="font/woff2" crossorigin>
  <link rel="preload" as="font" href="{{ heading_font | font_url }}" type="font/woff2" crossorigin>
  <link rel="preload" href="{{ 'eventemitter3.min.js' | asset_url }}" as="script">
  <link rel="preload" href="{{ 'theme.js' | asset_url }}" as="script">


  {% if settings.favicon %}<link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />{% endif %}
  <link rel="canonical" href="{{ canonical_url }}" />

  <title>{% if template == 'index' %}{% if page_title contains 'Welcome' %}{{ shop.name }} &ndash; Welcome{% else %}{{ page_title }}{% endif %}{% elsif template == '404' %}Page Not Found{% elsif page_title contains shop.name %}{{ page_title }}{% else %}{{ page_title }} &ndash; {{ shop.name }}{% endif %}</title>
  {% if page_description %}<meta name="description" content="{{ page_description }}" />{% endif %}

  {% render 'social-media-meta-tags' %}
  {% render 'structured-data' %}
  {% render 'css-variables' %}

  <link rel="stylesheet" href="{{ 'stylesheet.css' | asset_url }}" type="text/css">

  <style>
  {{ main_font | font_face: font_display: 'swap' }}
  {{ nav_font | font_face: font_display: 'swap' }}
  {{ heading_font | font_face: font_display: 'swap' }}
  {{ main_font_bold | font_face: font_display: 'swap' }}
  {{ main_font_italic | font_face: font_display: 'swap' }}
  {{ main_font_bold_italic | font_face: font_display: 'swap' }}
  </style>

  {{ content_for_header }}

</head>

<body class="gridlock {{ template | handleize }} js-slideout-toggle-wrapper">

  <div class="js-slideout-overlay site-overlay"></div>

  <main class="password-page__wrapper lazyload lazyfade"
    {% if section.settings.background_image %}
    data-bgset="{% render 'bgset', image: section.settings.background_image %}"
    data-sizes="auto"
    {% endif %}>

    {{ content_for_layout }}

  </main>

  <aside class="slideout slideout__drawer-right" data-wau-slideout="password" id="password-slideout">
    <div class="slideout__trigger--close">
      <button class="slideout__trigger-password js-slideout-close" data-slideout-direction="right" aria-label="Close navigation" tabindex="0" type="button" name="button" aria-controls="slideout-password">
        <div class="icn-close"></div>
      </button>
    </div>
    <div class="password-page__login">
      {% form 'storefront_password' %}
        {{ form.errors | default_errors }}
        <label for="password">{{ 'password.general.enter_store' | t }}</label>
        <input type="password" name="password" placeholder="{{ 'password.general.password' | t }}">
        <input type="submit" value="{{ 'password.general.enter' | t }}">
      {% endform %}
    </div>
  </aside>

  <script src="{{ 'eventemitter3.min.js' | asset_url }}"></script>
  <script src="{{ 'theme.js' | asset_url }}"></script>

  <script>
    window.lazySizesConfig = window.lazySizesConfig || {};
    window.lazySizesConfig.minSize = 360;
  </script>

  <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>

  {%- if request.page_type contains 'customers/' -%}
    <script src="{{ 'customer_area.js' | shopify_asset_url }}" defer="defer"></script>
  {%- endif -%}

  <script>
    if (!window.HTMLPictureElement) {
      loadJS("https://afarkas.github.io/lazysizes/plugins/respimg/ls.respimg.min.js");
    }
  </script>

  <script>
      document.documentElement.className =
         document.documentElement.className.replace("no-js","js");
  </script>

  <!-- Root element of PhotoSwipe. Must have class pswp. -->
  <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>
    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">
        <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">
          <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
          </button>
          <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
          </button>
          <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
        </div>
    </div>
  </div>

  <script>
   AOS.init();
 </script>
</body>
</html>
