{% layout 'giftcard' %}

<section
id="giftcard-page"
class="gift-card-page {% if gift_card.expired or gift_card.enabled != true %}disabled{% endif %}"
data-section-id="{{ section.id }}"
data-section-type="giftcard-page">

  <div class="grid__wrapper">
    <div class="span-12 a-center">
      {% if section.settings.logo != blank %}
        <div class="giftcard__header__logo-image">
          {% assign image_size = '600x' %}
          <a href="{{ routes.root_url }}">
            <img src="{{ section.settings.logo | img_url: image_size }}" alt="{{ section.settings.logo.alt | default: shop.name }}" itemprop="logo">
            <h1 class="h2 visually-hidden">{{ shop.name }}</h1>
          </a>
        </div>
      {% else %}
        <div id="logo" class="giftcard__header__logo-text">
          <a href="{{ routes.root_url }}">
            <h1 class="h2">{{ shop.name }}</h1>
          </a>
        </div>
      {% endif %}
    </div>

    <div class="span-12 auto a-center">
      <h2 class="h4">{{ 'gift_cards.issued.subtext' | t }}</h2>
      {% unless gift_card.enabled %}
        <span class="giftcard__tag">
          {{ 'gift_cards.issued.disabled' | t }}
        </span>
      {% endunless %}

      {% assign gift_card_expiry_date = gift_card.expires_on | date : "%d/%m/%y" %}

      {% if gift_card.expired and gift_card.enabled %}
        <span class="giftcard__tag">
          {{ 'gift_cards.issued.expired' | t: expiry: gift_card_expiry_date }}
        </span>
      {% endif %}

      {% if gift_card.expired != true and gift_card.expires_on and gift_card.enabled %}
        <span class="giftcard__tag giftcard__tag--active">
          {{ 'gift_cards.issued.active' | t: expiry: gift_card_expiry_date }}
        </span>
      {% endif %}


      <div class="gift-cart-image center-content">
        <p class="amount">{{ gift_card.balance | money }}</p>
        <svg class="absolute-center" width="140px" height="138px" viewBox="0 0 140 138" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Gift-Card" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Desk---Gift-Card" transform="translate(-650.000000, -351.000000)" fill="{{ section.settings.text_color }}" fill-rule="nonzero">
                    <g id="Gift-Card" transform="translate(462.000000, 265.000000)">
                        <g id="np_gift-card_2226004_000000" transform="translate(188.000000, 86.000000)">
                            <path d="M138.53549,109.013217 L134.866569,109.013217 L124.890791,109.013217 L110.142451,109.013217 L92.1432665,109.013217 L72.4348268,109.013217 L52.5261201,109.013217 L33.9696033,109.013217 L18.2928941,109.013217 L7.0618002,109.013217 C5.27290417,109.013217 3.4838529,108.983479 1.69495687,109.013217 L1.46451017,109.013217 C-0.488170057,109.013217 -0.488170057,111.986784 1.46451017,111.986784 L5.13343145,111.986784 L15.1092087,111.986784 L29.8575488,111.986784 L47.8567335,111.986784 L67.5651732,111.986784 L87.4738799,111.986784 L106.030397,111.986784 L121.707106,111.986784 L132.9382,111.986784 C134.727096,111.986784 136.516147,112.01652 138.305043,111.986784 L138.53549,111.986784 C140.48817,111.986784 140.48817,109.013217 138.53549,109.013217 L138.53549,109.013217 Z" id="Path"></path>
                            <path d="M0,90.5027395 L0,97.2769333 L0,111.510089 L0,124.061765 L0,126.85434 C0.0121235686,129.604944 0.969823418,132.187354 2.78828112,134.271177 C4.86122049,136.643421 7.97070712,137.964529 11.1045557,137.994662 L11.8925334,137.994662 L16.9114083,137.994662 L25.7610082,137.994662 L37.5504921,137.994662 L51.3582948,137.994662 L66.281472,137.994662 L81.4349241,137.994662 L95.9094998,137.994662 L108.789996,137.994662 L119.185262,137.994662 L126.186146,137.994662 C127.095359,137.994662 127.9925,138.006672 128.895599,137.994662 C135.078263,137.934607 139.987897,132.919936 140,126.824361 L140,118.404509 L140,103.859103 L140,92.2683162 L140,90.5147314 C140,89.7039867 139.302937,89.0133455 138.484655,89.0133455 L134.817481,89.0133455 L124.846455,89.0133455 L110.105139,89.0133455 L92.1145265,89.0133455 L72.4154732,89.0133455 L52.5162484,89.0133455 L33.9685695,89.0133455 L18.2993265,89.0133455 L7.07358167,89.0133455 C5.28553763,89.0133455 3.49733842,88.9833181 1.70929438,89.0133455 L1.47895744,89.0133455 C-0.472792796,89.0133455 -0.472792796,92.0160866 1.47895744,92.0160866 L5.14613133,92.0160866 L15.1171574,92.0160866 L29.8584734,92.0160866 L47.8490857,92.0160866 L67.548139,92.0160866 L87.4473638,92.0160866 L105.995043,92.0160866 L121.664286,92.0160866 L132.890031,92.0160866 C134.65992,92.0160866 136.466274,92.0881533 138.254318,92.0160866 L138.484655,92.0160866 L136.96931,90.5147007 L136.96931,111.234552 L136.96931,123.774082 L136.96931,126.776824 C136.96931,128.878788 136.290433,130.89066 134.817543,132.452067 C133.253722,134.085579 131.132214,134.986356 128.86531,135.004497 L127.907605,135.004497 L122.725179,135.004497 L102.056303,135.004497 L73.555908,135.004497 L44.3525852,135.004497 L21.1497539,135.004497 C17.8039407,135.004497 14.4519206,135.034525 11.0999006,135.004497 C8.68744542,134.992485 6.48105835,133.971533 4.90513409,132.169796 C3.57161913,130.656388 3.01390084,128.71659 3.01390084,126.734698 L3.01390084,118.038726 L3.01390084,92.2453779 L3.01390084,90.5157769 C3.03208542,88.5640182 0,88.5640182 0,90.503765 L0,90.5027395 Z" id="Path"></path>
                            <path d="M136.950523,51.115968 L136.950523,64.1065661 L136.950523,84.7158577 L136.950523,89.4507733 C137.447348,88.9530081 137.968417,88.4309537 138.465242,87.9331885 L134.799585,87.9331885 L124.832684,87.9331885 L110.097466,87.9331885 L92.114296,87.9331885 L72.4233918,87.9331885 L52.532399,87.9331885 L33.9923929,87.9331885 L18.329632,87.9331885 L7.108531,87.9331885 C5.33937422,87.9331885 3.53376717,87.8603442 1.74646282,87.9331885 L1.51622116,87.9331885 C2.01304617,88.4309537 2.53411449,88.9530081 3.0309395,89.4507733 L3.0309395,74.0320333 L3.0309395,52.9860647 L3.0309395,51.1770407 C3.0430565,49.2224058 3.68530725,47.2920136 4.98188233,45.8230072 C6.70869474,43.8683723 9.04135726,43.0306051 11.5981502,43.0306051 L21.0621928,43.0306051 L39.6146075,43.0306051 L63.0932381,43.0306051 L87.8018716,43.0306051 L109.510725,43.0306051 L124.464024,43.0306051 L128.147828,43.0306051 C130.159418,43.0306051 132.098263,43.406971 133.75233,44.6696203 C135.788116,46.2114943 136.921177,48.6154092 136.951423,51.1162788 C136.963542,53.0709136 140,53.0709136 139.980829,51.1162788 C139.920239,45.0337251 134.96403,40.0500123 128.89312,40.0075878 L127.075415,40.0075878 L114.703106,40.0075878 L94.1156798,40.0075878 L69.4861511,40.0075878 L45.0815283,40.0075878 L24.7236617,40.0075878 L12.7149246,40.0075878 C11.9454515,40.0075878 11.1699138,39.9772365 10.4004097,40.0379392 C4.57782715,40.462868 0.0699362732,45.3009077 0.021542716,51.1466302 C-0.026928395,56.6706725 0.021542716,62.1947148 0.021542716,67.7186017 L0.021542716,88.2548547 L0.021542716,89.4689257 C0.021542716,90.2884178 0.718316875,90.9865105 1.53626106,90.9865105 L5.20191791,90.9865105 L15.1688192,90.9865105 L29.9040369,90.9865105 L47.8872069,90.9865105 L67.578111,90.9865105 L87.4691039,90.9865105 L106.00911,90.9865105 L121.671871,90.9865105 L132.892972,90.9865105 C134.680276,90.9865105 136.467736,91.0168619 138.25504,90.9865105 L138.485282,90.9865105 C139.303226,90.9865105 140,90.2884178 140,89.4689257 L140,76.4783276 L140,55.869036 L140,51.1341204 C139.981824,49.1613037 136.952447,49.1613037 136.952447,51.1159105 L136.950523,51.115968 Z" id="Path"></path>
                            <path d="M108.940335,21.4790021 C108.891481,28.9668355 104.238235,36.0135621 97.1972797,38.6981638 C95.4141776,39.3722006 93.5332127,39.8011188 91.6402105,39.9114269 C90.2173556,39.9849593 88.8006289,39.9420659 87.3777115,39.9420659 L77.1368334,39.9420659 L70.5539254,39.9420659 L72.0805835,41.4739548 L72.0805835,30.8610405 L72.0805835,23.2935193 C72.0805835,20.6708796 72.190504,18.1770267 73.008794,15.6646636 C74.7187337,10.4684832 78.8833699,6.13631965 84.0130324,4.23667449 C89.374689,2.24526284 95.4019995,2.79669327 100.257303,5.82980382 C105.643347,9.16320262 108.910491,15.1375945 108.940976,21.4796798 C108.95319,23.4527382 112.012551,23.4527382 111.994261,21.4796798 C111.963728,15.1070056 109.111844,8.88758937 104.165557,4.87386348 C99.1275042,0.768371085 92.5506931,-0.855347079 86.1813322,0.431423291 C80.0441216,1.66918878 74.566468,5.77458705 71.586502,11.3078722 C70.0476188,14.1571831 69.1927741,17.3435986 69.0522332,20.5911918 C68.9423144,22.9931213 69.0400207,25.4319143 69.0400207,27.8340007 L69.0400207,41.4678371 C69.0400207,42.2950533 69.7422872,43 70.5666788,43 L86.9016204,43 C90.5167561,43 94.0768635,43.0487465 97.5394209,41.8354835 C101.47816,40.4567741 104.940717,37.96278 107.493277,34.6540091 C110.412274,30.8856214 111.963382,26.2469421 112,21.4797896 C112.012178,19.5006135 108.958872,19.5006135 108.940582,21.4797896 L108.940335,21.4790021 Z" id="Path"></path>
                            <path d="M28.0012535,21.4924281 C28.0500729,29.8800345 33.0541025,37.7892984 40.7553856,41.1574436 C42.7814306,42.0451826 44.8744949,42.5961855 47.071447,42.8593835 C48.6458537,43.0430564 50.2324459,42.9940733 51.80076,42.9940733 L62.3884034,42.9940733 L69.4062146,42.9940733 C70.2300365,42.9940733 70.9318176,42.2900071 70.9318176,41.4635028 L70.9318176,29.9046052 C70.9318176,24.4557016 71.4932488,18.6886345 69.3940137,13.5278022 C66.9774133,7.60760912 62.0528226,3.00364141 55.9931218,1.02601197 C49.933421,-0.945348228 43.0682389,-0.0453842105 37.7463753,3.46270597 C31.7049525,7.43614561 28.0312325,14.2379496 28.0007692,21.493019 C27.9885635,23.4643792 31.0336659,23.4643792 31.0519439,21.493019 C31.0824556,15.8298645 33.6760073,10.4239052 38.1430233,6.93413681 C42.5856687,3.44436846 48.5353891,2.21998733 53.9964466,3.62805698 C59.4154804,5.02393297 63.943423,8.86255277 66.2745699,13.9440793 C68.4104391,18.5971037 67.8733473,23.862162 67.8733473,28.8518443 L67.8733473,41.4515913 L69.3989503,39.9210209 L53.8254771,39.9210209 C50.59121,39.9210209 47.3569429,40.1046937 44.2325,39.1679763 C40.6625116,38.1149333 37.5197907,35.9720782 35.1520878,33.0885447 C32.4792831,29.8315216 31.0756272,25.6682809 31.0512565,21.4683653 C31.0329488,19.5153426 27.9818038,19.5153426 28,21.4928529 L28.0012535,21.4924281 Z" id="Path"></path>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
      </div>

      <p class="mt4 mb3">{{ 'gift_cards.issued.redeem' | t }}</p>

      {% assign code_size = gift_card.code | format_code | size %}
      <div class="gift-card-code mb4 {% if code_size <= 25 %}large{% elsif code_size > 25 and code_size <= 30 %}medium{% else %}small{% endif %}"
        onclick="selectText('gift-card-code-digits');">
        <div id="gift-card-code-inner">
          <strong id="gift-card-code-digits">{{ gift_card.code | format_code }}</strong>
        </div>
      </div>

      <div id="qr-code" class="center-content a-center mt7 mb7">
      </div>

      <script>
        new QRCode(document.getElementById("qr-code"), {
          height: 120,
          text  : "{{ gift_card.qr_identifier }}",
          width : 120
        });
      </script>

      <div class="gift-card-actions">
        <a href="{{ routes.root_url }}" class="gift-card__shop button" target="_blank" rel="noreferrer">{{ 'gift_cards.issued.shop_link' | t }}</a>
        <a href="#" rel="nofollow" class="gift-card__print" onclick="printContent('giftcard-page');">
          <span class="vib-center">{{ 'gift_cards.issued.print' | t }}</span>
        </a>
        <script type="text/javascript">
          function printContent(el){
            var restorepage = document.querySelector('body').innerHTML;
            const printcontent = document.querySelector('#' + el).cloneNode(true);

            document.querySelector('body').innerHTML = '';
            document.querySelector('body').appendChild(printcontent);

            window.print();

            document.querySelector('body').innerHTML = restorepage;
          }
        </script>
      </div>

      <div class="gift-card-wallet">
        {% if gift_card.pass_url %}
          <a href="{{ gift_card.pass_url }}"
           ><img
             id="apple-wallet-badge"
             src="{{ 'gift-card/add-to-apple-wallet.svg' | shopify_asset_url }}"
             width="120"
             height="40"
             alt="Add To Apple Wallet"
          /></a>
        {% endif %}
      </div>

    </div>
  </div>
  <style>
    .giftcard__header__logo-image {
      max-width: {{ section.settings.logo_max_width }}px;
      margin-left: auto;
      margin-right: auto;
    }
    .gift-cart-image {
      background-color: {{ section.settings.bg_color }} !important;
      color: {{ section.settings.text_color }} !important;
    }
    .gift-cart-image p {
      color: {{ section.settings.text_color }} !important;
    }
    .gift-card-image svg #Desk---Gift-Card {
      fill: {{ section.settings.text_color }} !important;
    }
  </style>
</section>

{% schema %}
{
  "name": "Gift card page",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Image",
      "info" : "250px x 80px recommended"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "min": 100,
      "max": 250,
      "step": 5,
      "unit": "px",
      "label": "Image width",
      "default": 200
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Giftcard text color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Giftcard bg color",
      "default": "#000000"
    }
  ]
}
{% endschema %}
