<nav class="mobile-menu" role="navigation" data-section-id="{{ section.id }}" data-section-type="mobile-navigation">
  <div class="slideout__trigger--close">
    <button class="slideout__trigger-mobile-menu js-slideout-close" data-slideout-direction="left" aria-label="Close navigation" tabindex="0" type="button" name="button">
      <div class="icn-close"></div>
    </button>
  </div>
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'search_box' %}
        <div class="mobile-menu__block mobile-menu__search" {{ block.shopify_attributes }}>
          {%- if settings.predictive_search_enabled -%}
          <predictive-search
            data-routes="{{ routes.predictive_search_url | default: '/search/suggest' }}"
            data-show-only-products="{{ settings.search_show_products_only | default: 'false' }}"
            data-results-per-resource="6"
            data-input-selector='input[name="q"]'
            data-results-selector="#predictive-search"
            >
          {%- endif -%}
            <form action="/search" method="get">
              <input
                type="text"
                name="q"
                id="searchbox-{{ section.id }}"
                class="searchbox__input"
                placeholder="{{ 'general.search.placeholder' | t }}"
                value="{{ search.terms | escape }}"
                {%- if settings.predictive_search_enabled -%}
                  role="combobox"
                  aria-expanded="false"
                  aria-owns="predictive-search-results-list"
                  aria-controls="predictive-search-results-list"
                  aria-haspopup="listbox"
                  aria-autocomplete="list"
                  autocorrect="off"
                  autocomplete="off"
                  autocapitalize="off"
                  spellcheck="false"
                {%- endif -%} />
              <input name="options[prefix]" type="hidden" value="last">

              {% if settings.search_show_products_only %}
                <input type="hidden" name="type" value="product">
              {% endif %}

              {%- if settings.predictive_search_enabled -%}
                <div id="predictive-search" class="predictive-search" tabindex="-1"></div>
              {%- endif -%}
            </form>
          {%- if settings.predictive_search_enabled -%}
          </predictive-search>
          {%- endif -%}
        </div>
      {% when 'navigation' %}

        {% assign unique_id = block.id | slice: 0, 7 %}
        {% assign mobile_menu_allow_multiple = false %}

        <ul class="js-accordion js-accordion-mobile-nav c-accordion c-accordion--mobile-nav c-accordion--{{ unique_id }}"
            id="c-accordion--{{ unique_id }}"
            {% if mobile_menu_allow_multiple %}

            data-accordion-allow-multiple
            {% endif %}

             {{ block.shopify_attributes }}>

          {% assign menu = linklists[block.settings.main_nav] %}

          {% for link in menu.links %}

            {% assign level_one_nested_link_count = 0 %}

            {% if link.links != blank %}

              {% assign level_one_nested_link_count = level_one_nested_link_count | plus: 1 %}

              {% assign level_one_link_index = forloop.index %}
              {% assign accordion_content_id = 'c-accordion__panel--' | append: unique_id | append: '-' | append: level_one_link_index %}

              <li class="js-accordion-header c-accordion__header">
                <a class="js-accordion-link c-accordion__link" href="{{ link.url }}">{{ link.title | escape }}</a>
                <button class="dropdown-arrow" aria-label="{{ link.title | escape }}" data-toggle="accordion" aria-expanded="false" aria-controls="{{ accordion_content_id }}" >
                  {% render 'snip-icons',
                   wrapper: '.c-accordion__header',
                   type: 'apollo',
                   icon: 'down-carrot',
                   classes: 'c-accordion__header--icon vib-center',
                   size: '6px',
                   fill: section.settings.link_color,
                   hover: section.settings.link_color %}
                </button>
              </li>

              <li class="c-accordion__panel {{ accordion_content_id }}" id="{{ accordion_content_id }}" data-parent="#c-accordion--{{ unique_id }}">

                {% assign level_two_unique_id = unique_id | append: '-' | append: level_one_nested_link_count %}

                <ul class="js-accordion js-accordion-mobile-nav c-accordion c-accordion--mobile-nav c-accordion--mobile-nav__inner c-accordion--{{ level_two_unique_id }}" id="c-accordion--{{ level_two_unique_id }}">

                  {% for sub_link in link.links %}
                    {% if sub_link.links != blank %}

                        {% assign level_two_link_index = forloop.index %}
                        {% assign level_two_accordion_content_id = 'c-accordion__panel--' | append: unique_id | append: '-' | append: level_one_link_index | append: '-' | append: level_two_link_index %}

                        <li class="js-accordion-header c-accordion__header">
                          <a class="js-accordion-link c-accordion__link" href="{{ sub_link.url }}">{{ sub_link.title | escape }}</a>
                          <button class="dropdown-arrow" aria-label="{{ sub_link.title | escape }}" data-toggle="accordion" aria-expanded="false" aria-controls="{{ level_two_accordion_content_id }}" >
                            {% render 'snip-icons',
                               wrapper: '.c-accordion__header',
                               type: 'apollo',
                               icon: 'down-carrot',
                               classes: 'c-accordion__header--icon vib-center',
                               size: '6px',
                               fill: section.settings.link_color,
                               hover: section.settings.link_color %}
                          </button>
                        </li>

                        <li class="c-accordion__panel {{ level_two_accordion_content_id }}" id="{{ level_two_accordion_content_id }}" data-parent="#c-accordion--{{ level_two_unique_id }}">
                          <ul>
                            {% for sub_sub_link in sub_link.links %}

                              <li>
                                <a class="js-accordion-link c-accordion__link" href="{{ sub_sub_link.url }}">{{ sub_sub_link.title }}</a>
                              </li>

                            {% endfor %}
                          </ul>
                        </li>
                    {% else %}
                    <li>
                      <a class="js-accordion-link c-accordion__link" href="{{ sub_link.url }}">{{ sub_link.title | escape }}</a>
                    </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </li>
            {% else %}
            <li>
              <a class="js-accordion-link c-accordion__link" href="{{ link.url }}">{{ link.title | escape }}</a>
            </li>
            {% endif %}
          {% endfor %}
          {% if shop.customer_accounts_enabled and block.settings.customer_account_links %}
            {% if customer  %}
              <li class="mobile-menu__item">
                <a href="{{ routes.account_url }}">
                  {% render 'snip-icons',
                     wrapper: '.mobile-menu__item',
                     type: 'icon-theme',
                     icon: 'user',
                     classes: 'mobile-menu__item--icon vib-center',
                     size: '16px',
                     fill: section.settings.link_color,
                     hover: section.settings.link_color %}
                  <span class="mobile-menu__item--text vib-center">&nbsp;&nbsp;{{ 'layout.mobile_nav.account' | t }}</span>
                </a>&nbsp;&nbsp;
                <a href="{{ routes.account_logout_url }}">
                  {% render 'snip-icons',
                     wrapper: '.mobile-menu__item',
                     type: 'icon-theme',
                     icon: 'user-logout',
                     classes: 'mobile-menu__item--icon vib-center',
                     size: '16px',
                     fill: section.settings.link_color,
                     hover: section.settings.link_color %}
                  <span class="mobile-menu__item--text vib-center">&nbsp;&nbsp;{{ 'layout.mobile_nav.logout' | t }}</span>
                </a>
              </li>
            {% else %}
              <li class="mobile-menu__item">
                <a href="{{ routes.account_login_url }}">
                  {% render 'snip-icons',
                     wrapper: '.mobile-menu__item',
                     type: 'icon-theme',
                     icon: 'user',
                     classes: 'mobile-menu__item--icon vib-center',
                     size: '16px',
                     fill: section.settings.link_color,
                     hover: section.settings.link_color %}
                  <span class="mobile-menu__item--text vib-center">&nbsp;&nbsp;{{ 'layout.mobile_nav.login' | t }}</span>
                </a>
              </li>
            {% endif %}
          {% endif %}
        </ul><!-- /.c-accordion.c-accordion--mobile-nav -->
      {% when 'social_icons' %}
        <div class="mobile-menu__block mobile-menu__social text-center" {{ block.shopify_attributes }}>
          {% render 'social-icons', fill_color: block.settings.icon_color, hover_color: block.settings.icon_hover_color, wrapper: '.mobile-menu__social' %}
        </div>
      {% when 'featured_image' %}
        <div class="mobile-menu__block mobile-menu__featured-image{% if block.settings.full_featured_image %} mobile-menu__featured-image--full-width{% endif %}" {{ block.shopify_attributes }}>
          {% if block.settings.featured_image_link %}<a href="{{ block.settings.featured_image_link }}">{% endif %}
            {% render 'basic-responsive-image' type: block.settings.featured_image %}
            <noscript>
              <img src="{{ block.settings.featured_image | img_url: '300x' }}" alt="block.settings.featured_image.alt">
            </noscript>
          {% if block.settings.featured_image_link %}</a>{% endif %}
        </div>
      {% when 'featured_text' %}
        <div class="mobile-menu__block mobile-menu__featured-text text-center" {{ block.shopify_attributes }}>
          {% if block.settings.featured_text != blank %}
          <div class="rte">
            {{ block.settings.featured_text }}
          </div><!-- /.rte -->
          {% endif %}
        </div>
      {% when 'cart_status' %}
        <div class="mobile-menu__block mobile-menu__cart-status" {{ block.shopify_attributes }}>
          <a class="mobile-menu__cart-icon" href="{{ routes.cart_url }}">
            <span class="vib-center">{{ 'cart.general.title' | t }}</span>
            (<span class="mobile-menu__cart-count js-cart-count vib-center">{{ cart.item_count }}</span>)
            {% render 'snip-icons',
             wrapper: '.mobile-menu__cart-icon',
             type: 'icon-theme',
             icon: 'cart',
             classes: 'vib-center',
             size: '20px',
             fill: section.settings.link_color,
             hover: section.settings.link_color %}
          </a>
        </div>
    {% endcase %}
  {% endfor %}
  {% style %}
  .mobile-menu {
    --background-color: {{ section.settings.background_color }};
    --link-color: {{ section.settings.link_color }};
    --border-color: {{ section.settings.border_color }};
  }
  {% endstyle %}
  <style>
    .mobile-menu {
      background: {{ section.settings.background_color }};
      height: 100vh;
    }
    .slideout__drawer-left,
    .mobile-menu__search input {
      background: {{ section.settings.background_color }};
    }
    .mobile-menu .mobile-menu__item {
      border-bottom: 1px solid {{ section.settings.border_color }};
    }
    .mobile-menu__search form input,
    .mobile-menu__cart-icon,
    .mobile-menu__accordion > .mobile-menu__item:first-child {
      border-color: {{ section.settings.border_color }};
    }
    .mobile-menu .mobile-menu__item a,
    .mobile-menu__cart-status a,
    .mobile-menu .mobile-menu__item i,
    .mobile-menu__featured-text p,
    .mobile-menu__search input,
    .mobile-menu__featured-text a,
    .mobile-menu__search input:focus {
      color: {{ section.settings.link_color }};
    }
    .mobile-menu__search ::-webkit-input-placeholder { /* WebKit browsers */
      color: {{ section.settings.link_color }};
    }
    .mobile-menu__search :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: {{ section.settings.link_color }};
    }
    .mobile-menu__search ::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: {{ section.settings.link_color }};
    }
    .mobile-menu__search :-ms-input-placeholder { /* Internet Explorer 10+ */
      color: {{ section.settings.link_color }};
    }
    .mobile-menu .slideout__trigger-mobile-menu .icn-close:after,
    .mobile-menu .slideout__trigger-mobile-menu .icn-close:before {
      border-color: {{ section.settings.link_color }} !important;
    }

    /* inherit link color */
    .c-accordion.c-accordion--mobile-nav .dropdown-arrow {
      color: {{ section.settings.link_color }};
      border-color: {{ section.settings.border_color }};
    }
    .c-accordion.c-accordion--mobile-nav:not(.c-accordion--mobile-nav__inner) > li:first-child,
    .c-accordion.c-accordion--mobile-nav li:not(.c-accordion__panel) {
      border-color: {{ section.settings.border_color }} !important;
    }
    .c-accordion.c-accordion--mobile-nav a {
      color: {{ section.settings.link_color }};
    }
  </style>
</nav>

{% schema %}
{
  "name": "Mobile navigation",
  "settings":
  [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "link_color",
      "label": "Link color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "border_color",
      "label": "Border color",
      "default": "#000000"
    }
  ],
  "blocks":
  [
    {
      "type": "search_box",
      "name": "Search Box",
      "settings":
      [],
      "limit": 1
    },
    {
      "type": "navigation",
      "name": "Navigation",
      "settings":
      [
        {
          "type": "link_list",
          "id": "main_nav",
          "label": "Choose main menu",
          "default": "main-menu"
        },
        {
          "type": "checkbox",
          "id": "customer_account_links",
          "label": "Show customer account links",
          "info": "Customer accounts must be enabled to see."
        }
      ],
      "limit": 1
    },
    {
      "type": "featured_image",
      "name": "Featured Image",
      "settings":
      [
        {
          "type": "image_picker",
          "id": "featured_image",
          "label": "Choose featured image",
          "info": "400px x 300px recommended"
        },
        {
          "type": "url",
          "id": "featured_image_link",
          "label": "Featured image link"
        },
        {
          "type": "checkbox",
          "id": "full_featured_image",
          "label": "Enable full-width image",
          "default": false
        }
      ],
      "limit": 1
    },
    {
      "type": "social_icons",
      "name": "Social Icons",
      "settings":
      [
        {
          "type": "color",
          "id": "icon_color",
          "label": "Icon color"
        },
        {
          "type": "color",
          "id": "icon_hover_color",
          "label": "Icon hover color"
        }
      ],
      "limit": 1
    },
    {
      "type": "featured_text",
      "name": "Featured Text",
      "settings":
      [
        {
          "type": "richtext",
          "id": "featured_text",
          "label": "Featured text",
          "default": "<p><b>Featured Text</b></p><p><em>A great place to share about a sale!</em></p>"
        }
      ],
      "limit": 1
    },
    {
      "type": "cart_status",
      "name": "Cart Link",
      "limit": 1
    }
  ],
  "default":
  {
    "blocks":
    [
      {
        "type": "featured_image"
      },
      {
        "type": "cart_status"
      },
      {
        "type": "navigation"
      },
      {
        "type": "featured_text"
      },
      {
        "type": "search_box"
      },
      {
        "type": "social_icons"
      }
    ]
  }
}
{% endschema %}
