<section class="product-recommendations__wrapper"
  id="related"
  data-section-id="{{ section.id }}">

  {%- if recommendations.performed -%}
    {%- if recommendations.products_count > 0 -%}

      <div class="product-recommendations row" data-product-id="{{ product.id }}">

        {% if section.settings.product_recommendations_heading != blank %}
          <div class="section-title desktop-12 tablet-6 mobile-3">
            <h2>{{ section.settings.product_recommendations_heading }}</h2>
          </div>
          {% endif %}

        <div class="clear"></div>
        <div class="related-product-loop grid_wrapper">
          {%- for product in recommendations.products limit: section.settings.items_shown -%}
          <div class="product product-index" id="prod-{{ product.id }}">
            {% render 'product-listing', product: product, collection: collection %}
          </div>
          {%- endfor -%}
        </div>
      </div>

    {%- endif -%}
  {%- else  -%}

    <div class="js-product-rec-wrapper"
    data-base-url="{{ routes.product_recommendations_url }}"
    data-product-id="{{ product.id }}"
    data-section-id="{{ section.id }}"
    data-section-type="product-recommendations">
    </div>

  {%- endif -%}
</section>

{% schema %}
{
  "name": "Product recommendations",
  "settings":
  [
    {
      "type": "text",
      "id": "product_recommendations_heading",
      "label": "Heading",
      "default": "You may also like"
    },
    {
      "type": "range",
      "id": "items_shown",
      "min": 2,
      "max": 12,
      "step": 1,
      "label": "Products shown",
      "default": 4
    }
  ]
}
{% endschema %}
